{% extends 'layouts/base.njk' %}

{% block content %}
<main>
  <section class="content">
    <h1>Womp Womp!</h1>
    <p class="fourohfour__status"><strong>404</strong>: Page Not Found</p>
    <div class="fourohfour__story">
      <p>This reminds me of that time as a child when I dreamt I had a Fisher-Price Bubble Saxophone. It felt so real; I was convinced for days that someone was hiding it from me. Ugh, my poor little heart.</p>
      <p>Anyway, the page you're looking for isn't here, either. Sorry.</p>
    </div>
    <iframe
      class="fourohfour__iframe"
      width="440"
      height="320"
      src="https://www.youtube.com/embed/61f4RUYUOoA?si=hz0ErcZx2B3evSrs"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </section>
  <a
    class="cta cta--primary fourohfour__cta"
    href="/"
    title="Go to Homepage"
  >
    Back to Homepage
  </a>
</main>
{% endblock %}
