{% extends 'layouts/base.njk' %}

{% block content %}
<main>
  <section class="intro content">
    <h1>Womp Womp!</h1>
    <p><strong>404</strong> Page Not Found</p>
    <p>This reminds me of that time as a child when I dreamt I had a Fisher-Price Bubble Saxophone. It felt so real that I spent <em>hours</em> looking for it. Ugh, my poor little heart.</p>
    <p>Anyway, the page you're looking for isn't here, either. Sorry.</p>
    <iframe
      style="margin: 2em auto 0"
      width="440"
      height="320"
      src="https://www.youtube.com/embed/61f4RUYUOoA?si=hz0ErcZx2B3evSrs"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </section>
  <a
    class="cta cta--primary"
    href="/"
    title="Go to Homepage"
  >
    Back to Homepage
  </a>
</main>
{% endblock %}
