{% extends 'layouts/base.njk' %}

{% block content %}
  <main class="page__content printable">
    <article>
      <div class="page-title">
        <h1 class="page-title__h1">Blogs, Memos, and Articles</h1>
      </div>
      <table class="blog-table">
        <thead>
        <tr>
          <th class="blog-table__heading">Date</th>
          <th class="blog-table__heading">Subject</th>
        </tr>
        </thead>
        <tbody>
        {% for item in pagination.items %}
          <tr>
            <td class="blog-table__cell blog-table__cell--time">
              <time
                title="{{ item.publishedAt | blogPostTimestamp }}"
                datetime="{{ item.publishedAt }}"
              >
                {{ item.publishedAt | blogListTimestamp }}
              </time>
            </td>
            <td class="blog-table__cell">
              <a href="{{ item.slug }}" title="{{ item.title }}">{{ item.title }}</a>
              <p>{{ item.brief }}</p>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </article>
    <nav class="blog-nav">
      <ul class="blog-nav__link-list">
        {% if pagination.previousPageLink %}
          <li>
            <a class="blog-nav__link" href="{{ pagination.previousPageLink }}">
              Previous
            </a>
          </li>
        {% endif %}
        {% if pagination.nextPageLink %}
          <li>
            <a class="blog-nav__link" href="{{ pagination.nextPageLink }}">
              Next
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </main>
{% endblock %}
