{% extends 'layouts/base.njk' %}

{% block content %}
  <main class="page__content printable">
    <article class="blog__article">
      <div class="page-title">
        <h1 class="page-title__h1">{{ blogpost.title }}</h1>
        <p class="page-title__meta">
          <time datetime="{{ blogpost.publishedAt }}">
            {{ blogpost.publishedAt | blogPostTimestamp }}
          </time>
          <span>
            {{ blogpost.readTimeInMinutes }} minute read
          </span>
        </p>
      </div>
      <div class="blog__copy" data-theme="memo">
        {{ blogpost.content.markdown | markdown | safe }}
      </div>
      <p class="blog__signature">&mdash; {{ blogpost.author.name }}</p>
    </article>
  </main>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Blog",
      "url": "{{ blogpost.url }}",
      "text": "{{ blogpost.content.text | escapeNewlines }}",
      "headline": "{{ blogpost.title }}",
      "datePublished": "{{ blogpost.publishedAt }}",
      "copyrightHolder": "CRHain Design LLC",
      "author": {
        "@type": "Person",
        "givenName": "{{ blogpost.author.givenName }}",
        "familyName": "{{ blogpost.author.familyName }}"
      }
    }
  </script>
{% endblock %}
