<?xml version="1.0" encoding="utf-8"?>
{% block content %}
  <feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.subtitle }}</subtitle>
    <link href="{{ metadata.permalink }}" rel="self" />
    <link href="{{ metadata.url }}" />
    <updated>{{ blogposts[0].publishedAt | atom_dateToRfc3339 }}</updated>
    <id>{{ metadata.url }}</id>
    <author>
      <name>{{ metadata.author.name }}</name>
    </author>
    {%- for blogpost in blogposts %}
      {%- set absolutePostUrl = blogpost.url | absoluteUrl(metadata.url) %}
      <entry>
        <title>{{ blogpost.title }}</title>
        <link href="{{ absolutePostUrl }}" />
        <updated>{{ blogpost.publishedAt | atom_dateToRfc3339 }}</updated>
        <id>{{ blogpost.url }}</id>
        <content xml:lang="{{ metadata.language }}" type="html">
          {{ blogpost.content.markdown | markdown | htmlToAbsoluteUrls(absolutePostUrl) }}
        </content>
      </entry>
    {%- endfor %}
  </feed>
{% endblock %}