{% layout "./base.liquid" %}

{% block content %}
  <main class="page__content printable">
    <div class="page-title">
      <h1 class="page-title__h1"><i>Curriculum Vitae</i></h1>
      <p class="page-title__meta">
        <span>Version: <time datetime="{{ lastmod }}">{{ lastmod | date: "%Y-%m-%d" }}</time></span>
      </p>
      <p class="page-title__meta">Atlanta, GA, USA</p>
    </div>

    {{ content }}
  </main>
{% endblock %}
