{% extends 'layouts/base.njk' %}

{% block content %}

<main class="page__content printable">
  <div class="page-title">
    <h1 class="page-title__h1"><i>Curriculum Vitae</i></h1>
    <p class="page-title__meta"><span>Version: <time datetime="2025-11-12">2025-11-12</time></span></p>
    <p class="page-title__meta">Atlanta, GA, USA</p>
  </div>
  <section class="cv-section cv-section--no-border">
    <h2 class="cv-section-title">Qualifications</h2>
    <ol class="cv-list">
      <li>15+ years of experience with web-based user interface design, development, user experience enhancement, usability and accessibility standards, automated testing, team building, and delivering functional products on time</li>
      <li>Industry experience in e-commerce, news and entertainment, transportation, construction, and specialty products</li>
      <li>Seven enterprise-level site rewrites, four enterprise-level redesigns (reskinning or piecemeal upgrades), nine small-business or charity builds, three internal web tools, and one portfolio site including three-tier web applications, microservices, single-page apps, and brochure sites</li>
      <li>Expertise experience in conceptualizing business requirements, creating flow diagrams, designing prototypes from concepts, developing front-end and server-side code, converting prototypes into user interfaces, building design systems, and implementing the look and feel of web pages/web apps</li>
      <li>Experienced in documenting and implementing development best practices across teams</li>
    </ol>
    <h3 class="cv-section-header cv-section-header--margin">Technical qualifications</h3>
    <div class="cv-grid">
      <div class="cv-grid__a1">
        <h4 class="cv-section-subheader">Libraries, languages, and frameworks</h4>
        <dl class="cv-details">
          <dt class="cv-details__title">Preferred languages</dt>
          <dd><a rel="nofollow" href="https://javascript.plainenglish.io/the-relationship-between-javascript-ecmascript-6d17706a576" title="The Relationship Between JavaScript & ECMAScript" target="_blank">EcmaScript/JavaScript</a></dd>
          <dd><a rel="nofollow" href="https://html.spec.whatwg.org" title="HTML Standard Homepage" target="_blank">HTML</a></dd>
          <dd><a rel="nofollow" href="https://www.w3.org/Style/CSS/current-work" title="CSS Current Work and How to Participate" target="_blank">CSS3</a></dd>
          <dd><a rel="nofollow" href="https://www.gnu.org/software/bash/" title="Bash Landing Page" target="_blank">Bash</a></dd>

          <dt class="cv-details__title">Familiar languages</dt>
          <dd><a rel="nofollow" href="https://www.php.net/" title="PHP Homepage" target="_blank">PHP</a></dd>
          <dd><a rel="nofollow" href="https://dotnet.microsoft.com/en-us/" title=".NET Homepage" target="_blank">.NET/C#</a></dd>
          <dd><a rel="nofollow" href="https://dev.java/" title="Java Homepage" target="_blank">Java</a></dd>

          <dt class="cv-details__title">JavaScript</dt>
          <dd><a rel="nofollow" href="https://react.dev/blog" title="React Blog" target="_blank">React.js</a></dd>
          <dd><a rel="nofollow" href="https://nextjs.org/blog" title="Next@ Blog" target="_blank">Next.js</a></dd>
          <dd><a rel="nofollow" href="https://github.com/jaredpalmer/razzle/tree/v2.4.1" title="Razzle@2 Source Code" target="_blank">Razzle.js</a></dd>
          <dd><a rel="nofollow" href="https://stenciljs.com/docs/v2/introduction" title="Stencil@2 Developer Docs" target="_blank">Stencil.js</a></dd>
          <dd><a rel="nofollow" href="https://release-7-6--storybook-frontpage.netlify.app/docs/7.6/get-started/install" title="Storybook@7 Developer Docs" target="_blank">Storybook.js</a></dd>
          <dd><a rel="nofollow" href="https://github.com/linkedin/dustjs/tree/v2.7.5" title="Dust@2 Source Code" target="_blank">Dust.js</a></dd>
          <dd><a rel="nofollow" href="https://www.typescriptlang.org/play" title="TypeScript@latest Playground" target="_blank">TypeScript</a></dd>
          <dd><a rel="nofollow" href="https://github.com/mochajs/mocha/wiki" title="Mocha GitHub Wiki" target="_blank">MochaJS</a></dd>
          <dd><a rel="nofollow" href="https://blog.jquery.com" title="jQuery Blog" target="_blank">jQuery</a></dd>

          <dt class="cv-details__title">CSS</dt>
          <dd><a rel="nofollow" href="https://get.foundation/" title="Foundation Homepage" target="_blank">Foundation</a> (<a rel="nofollow" href="https://get.foundation/sites/docs/" title="Foundation for Sites Docs" target="_blank">Foundation for Sites</a>, <a rel="nofollow" href="https://get.foundation/emails/docs/" title="Foundation for Emails Docs" target="_blank">Foundation for Emails</a>)</dd>
          <dd><a rel="nofollow" href="https://blog.getbootstrap.com/" title="Bootstrap Blog" target="_blank">Bootstrap</a></dd>
          <dd><a rel="nofollow" href="https://materializecss.com/about.html" title="About Materialize" target="_blank">Materialize</a></dd>
          <dd><a rel="nofollow" href="https://picturepan2.github.io/spectre/getting-started.html" title="Spretre Docs Page" target="_blank">Spectre</a></dd>
          <dd><a rel="nofollow" href="https://sass-lang.com/playground/" title="Sass Playground" target="_blank">Sass/SCSS</a></dd>
          <dd><a rel="nofollow" href="https://lesscss.org/about/" title="Less History" target="_blank">Less</a></dd>
        </dl>
      </div>
      <div class="cv-grid__a2">
        <h4 class="cv-section-subheader">Software and services</h4>
        <dl class="cv-details">
          <dt class="cv-details__title">CMS</dt>
          <dd><a rel="nofollow" href="https://craftcms.com/docs/3.x/" title="Craft@3 Developer Docs" target="_blank">Craft CMS</a></dd>
          <dd><a rel="nofollow" href="https://docs.expressionengine.com/v2/" title="ExpressionEngine@2 Developer Docs" target="_blank">ExpressionEngine</a></dd>
          <dd><a rel="nofollow" href="https://twig.symfony.com/" title="Twig Homepage" target="_blank">Twig</a></dd>

          <dt class="cv-details__title">SaaS</dt>
          <dd><a rel="nofollow" href="https://www.optimizely.com/products/experiment/" title="Optimizely Experiments Page" target="_blank">Optimizely</a></dd>
          <dd><a rel="nofollow" href="https://www.splunk.com/en_us/newsroom/press-releases/2020/splunk-to-acquire-plumbr-and-rigor-expanding-the-worlds-most-comprehensive-observability-portfolio.html" title="Splunk to Acquire Plumbr and Rigor, Expanding the World’s Most Comprehensive Observability Portfolio" target="_blank">Rigor</a></dd>
          <dd><a rel="nofollow" href="https://www.atlassian.com/" title="Atlassian Homepage" target="_blank">Atlassian Products</a></dd>
          <dd><a rel="nofollow" href="https://developer.goacoustic.com/acoustic-exp-analytics/docs/tealeaf-ui-capture-overview-1" title="Acoustic Tealeaf Web SDK Overview" target="_blank">Acoustic/CoreMetrics</a></dd>
          <dd><a rel="nofollow" href="https://marketingplatform.google.com/about/analytics/" title="About Google Analytics" target="_blank">Google Analytics</a></dd>
          <dd><a rel="nofollow" href="https://www.litmus.com/" title="Litmus Homepage" target="_blank">Litmus</a></dd>
          <dd><a rel="nofollow" href="https://aws.amazon.com/free/" title="AWS Homepage" target="_blank">Amazon Web Services</a></dd>

          <dt class="cv-details__title">Databases</dt>
          <dd><a rel="nofollow" href="https://aws.amazon.com/what-is/sql/" title="What is SQL?" target="_blank">SQL</a> (<a rel="nofollow" href="https://dev.mysql.com" title="MySQL Developer Zone" target="_blank">MySQL</a>) and <a rel="nofollow" href="https://aws.amazon.com/nosql/" title="What is NoSQL?" target="_blank">NoSQL</a> (<a rel="nofollow" href="https://www.mongodb.com/docs/legacy/?site=docs" title="MongoDB@3 Legacy Docs Downloader" target="_blank">MongoDB</a>, <a rel="nofollow" href="https://aws.amazon.com/dynamodb/" title="AWS DynamoDB Landing Page" target="_blank">DynamoDB</a>)</dd>

          <dt class="cv-details__title">Software development tools</dt>
          <dd><a rel="nofollow" href="https://www.youtube.com/watch?v=aolI_Rz0ZqY" title="So You Think You Know Git - FOSDEM 2024" target="_blank">Git</a></dd>
          <dd><a rel="nofollow" href="https://yarnpkg.com/blog/release/4.0" title="Release: Yarn 4.0 🪄⚗️" target="_blank">Yarn</a>/<a rel="nofollow" href="https://docs.npmjs.com/about-npm" title="About NPM" target="_blank">NPM</a></dd>
          <dd><a rel="nofollow" href="https://www.docker.com/blog/" title="Docker Blog" target="_blank">Docker</a></dd>
          <dd><a rel="nofollow" href="https://gulpjs.com/docs/en/getting-started/quick-start" title="Gulp Developer Docs" target="_blank">Gulp</a></dd>
          <dd><a rel="nofollow" href="https://babeljs.io/blog" title="Babel Blog" target="_blank">Babel</a></dd>
          <dd><a rel="nofollow" href="https://bower.io/blog/" title="Bower Deprecation Blog" target="_blank">Bower</a></dd>
          <dd><a rel="nofollow" href="https://webpack.js.org/concepts/" title="WebPack Developer Docs" target="_blank">Webpack</a></dd>
        </dl>
      </div>
      <div class="cv-grid__b1">
        <h4 class="cv-section-subheader">Methodologies</h4>
        <ul class="cv-details">
          <li><a rel="nofollow" href="https://getbem.com/" title="BEM — is a methodology that helps you to create reusable components and code sharing in front‑end development" target="_blank">BEM</a>, <a rel="nofollow" href="https://smacss.com/" title="Scalable and Modular Architecture for CSS" target="_blank">SMACCs</a>, <a rel="nofollow" href="https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/" title="Axiomatic CSS and Lobotomized Owls" target="_blank">Lobotomized Owl</a>, and other conventions to manage enterprise-level CSS</li>
          <li><a rel="nofollow" href="https://atomicdesign.bradfrost.com/chapter-1/" title="Atomic Design by Brad Frost" target="_blank">Atomic Design</a></li>
          <li><a rel="nofollow" href="https://www.aleksandrhovhannisyan.com/blog/atomic-git-commits/" title="Make Atomic Git Commits" target="_blank">Atomic Commits</a></li>
          <li><a rel="nofollow" href="https://gist.github.com/rveitch/84cea9650092119527bc" title="Seven-in-One Pattern" target="_blank">Seven-in-One CSS</a></li>
          <li><code>rel</code> vs <code>data</code> attribute selection</li>
          <li>responsive design</li>
          <li>accessible design</li>
        </ul>
      </div>
    </div>
    <h3 class="cv-section-header cv-section-header--margin">Non-technical qualifications</h3>
    <dl class="cv-details">
      <div class="cv-grid">
        <div class="cv-grid__a1">
          <dt class="cv-details__title">Agile methodologies</dt>
          <dd><a rel="nofollow" href="https://www.atlassian.com/software/jira" title="Jira Landing Page" target="_blank">Jira</a></dd>
          <dd>Daily Scrums</dd>
          <dd>Scrum Master</dd>
          <dd>Backlog Refinement</dd>
          <dd>Story Refinement</dd>
          <dd>Given-When-Then Acceptance Tests</dd>
          <dd>Sprint Planning and Estimation</dd>

          <dt class="cv-details__title">Documentation</dt>
          <dd><a rel="nofollow" href="https://www.atlassian.com/software/confluence" title="Confluence Landing Page" target="_blank">Confluence</a></dd>
          <dd><a rel="nofollow" href="https://www.mediawiki.org/wiki/Developer_hub" title="MediaWiki Developer Hub" target="_blank">MediaWiki</a></dd>
          <dd>Technical Documentation</dd>
          <dd>README's</dd>
          <dd>Markdown</dd>
          <dd>Whitepapers</dd>
          <dd>One-Pagers</dd>
          <dd>Business Requirement Documents</dd>
        </div>
        <div class="cv-grid__a2">
          <dt class="cv-details__title">UI/UX</dt>
          <dd><a rel="nofollow" href="https://www.adobe.com/creativecloud/features.html" title="Adobe Creative Cloud Features" target="_blank">Adobe Creative Cloud</a> (<a rel="nofollow" href="https://www.adobe.com/products/photoshop/features.html" title="Adobe Photoshop Features" target="_blank">Photoshop</a>, <a rel="nofollow" href="https://www.adobe.com/products/illustrator/features.html" title="Adobe Illustrator Features" target="_blank">Illustrator</a>, <a rel="nofollow" href="https://helpx.adobe.com/support/xd.html#troubleshooting" title="Adobe XD is in Maintenance Mode" target="_blank">XD</a>, <a rel="nofollow" href="https://helpx.adobe.com/animate/using/whats-new.html" title="Adobe Animate New Features" target="_blank">Animate</a>)</dd>
          <dd><a rel="nofollow" href="https://www.figma.com/best-practices/tips-for-a-better-developer-workflow/" title="Figma Tips for a Better Developer Workflow" target="_blank">Figma</a></dd>

          <dt class="cv-details__title">Misc</dt>
          <dd>Leading organization-wide committees</dd>
          <dd>A/B Testing</dd>
          <dd>Spreadsheets (<a rel="nofollow" href="https://www.google.com/sheets/about/" title="About Google Sheets" target="_blank">Google Sheets</a>, <a rel="nofollow" href="https://www.apple.com/numbers/" title="Numbers Landing Page" target="_blank">Numbers</a>, <a rel="nofollow" href="https://www.microsoft.com/en-us/microsoft-365/excel" title="Excel Landing Page" target="_blank">Excel</a>)</dd>
          <dd>Slideshows (<a rel="nofollow" href="https://www.google.com/slides/about/" title="About Google Slides" target="_blank">Google Slides</a>, <a rel="nofollow" href="https://www.apple.com/keynote/" title="Keynote Landing Page" target="_blank">Keynote</a>, <a rel="nofollow" href="https://www.microsoft.com/en-us/microsoft-365/powerpoint" title="PowerPoint Landing Page" target="_blank">PowerPoint</a>)</dd>
        </div>
      </div>
    </dl>
  </section>
  <section class="cv-section">
    <div class="cv-grid">
      <div class="cv-grid__a1">
        <h3 class="cv-section-header">Enterprise development experience</h3>
        <ul class="cv-sneaky-list">
          <li><span>5 years</span><span> @ </span><span><a href="#amazon" title="Jump to Amazon Experience Section">Amazon, Inc./Fabric, Inc.</a></span></li>
          <li><span>5 years</span><span> @ </span><span><a href="#cnn" title="Jump to CNN Experience Section">Turner Services, Inc./CNN</a></span></li>
          <li><span>1 year</span><span> @ </span><span><a href="#delta" title="Jump to Delta Experience Section">Wipro Limited/Delta Air Lines, Inc.</a></span></li>
        </ul>
      </div>
      <div class="cv-grid__a2">
        <h3 class="cv-section-header">Education</h3>
        <p class="cv-p">
          Art Institute of Philadelphia, Philadelphia, PA<br />
          BS Graphic Design, 2009
        </p>
      </div>
    </div>
  </section>
  <section>
    <a id="finquery"></a>
    <article class="cv-section cv-section--new-page">
      <div class="cv-employment-heading">
        <h2 class="cv-section-title">
          <span>Work experience</span>
          <span>FinQuery (Formerly LeaseQuery)</span>
        </h2>
        <aside>
          <dl>
            <dt>Title</dt>
            <dd>Principle SWE</dd>
            <dt>Dates associated</dt>
            <dd>August 2022&ndash;Present</dd>
          </dl>
        </aside>
      </div>
      <div class="cv-story cv-story--margin">
        <p>After a successful career of developing <abbr title="business to consumer">B2C</abbr> websites, it's now time to try my hand at <abbr title="business to business">B2B</abbr> <abbr title="software as a service">SaaS</abbr>.</p>
        <p>It's too soon to tell where this story will go, but for now I'm focused on delivering reliable software to our users, leading teams, and sharing my knowledge and experience with my colleagues.</p>
      </div>

      <h3 class="cv-section-header cv-section-header--margin">Achievements (so far)</h3>
      <ol class="cv-list">
        <li>Helped finish a lease entry product that streamlines the data-entry process</li>
        <li>Advised product and engineering through a UI-Refresh project, introducing them to BEM and 7-in-1 SASS architecture</li>
        <li>Established development standards and best practices around key CI/CD concepts such as code organization, naming conventions, QA-Code Reviews, and conventional commits</li>
        <li>Led multiple teams of engineers to deliver a new product while fostering a remote-worker culture</li>
        <li>Earned my Certified Scrum Developer Certification</li>
        <li>Mentoring full-stack and backend engineers as they develop/transition into frontend engineering</li>
      </ol>
    </article>
    <a id="amazon"></a>
    <article class="cv-section cv-section--new-page">
      <div class="cv-employment-heading">
        <h2 class="cv-section-title">
          <span>Work experience</span>
          <span>Amazon.com, Inc./Fabric.com, Inc.</span>
        </h2>
        <aside>
          <dl>
            <dt>Title</dt>
            <dd>WDE III</dd>
            <dt>Dates associated</dt>
            <dd>July 2017&ndash;August 2022</dd>
          </dl>
        </aside>
      </div>
      <div class="cv-story cv-story--margin">
        <p>In 2017, a former co-worker called me and told me about an opportunity at Fabric.com, an e-commerce company/warehouse in Kennesaw, Georgia. They were looking to rewrite their website using React.js. I had just finished a sizeable React.js project a few months prior, so this was an excellent opportunity to continue expanding my experience.</p>
        <p>In the past five years, I’ve rewritten the front-end of their checkout application, spun up a CMS and developed a <a rel="nofollow" href="https://web.archive.org/web/20210701114812/https://www.fabric.com/" title="Internet Archive of Fabric.com" target="_blank">new homepage</a>, led a team of junior developers to reimagine the site’s <a rel="nofollow" href="https://web.archive.org/web/20210921201721/https://www.fabric.com/buy/ef-391/kona-cotton-teal-blue" title="Kona Cotton Teal Blue" target="_blank">product detail page</a>, and led a Scrum team of senior developers to rewrite legacy .NET applications and graceful deprecations. Most of the new applications used React.js and Next.js, and I used Web Components for any UI elements used across stacks.</p>
        <p>Additionally, I’ve instilled high standards in the organization, including accurate estimates, high-quality documentation, best practices related to Git, and automated testing/high code coverage. I’ve also managed several Optimizely campaigns, led the company’s Customer Experience Committee, and spearheaded accessibility initiatives.</p>
        <p>Unfortunately, all good things must come to an end. During the last 12-months of my time there I had helped sunset Fabric.com and transition customers to Amazon.com proper.</p>
      </div>

      <div class="cv-grid">
        <div class="cv-grid__a1">
          <h3 class="cv-section-header cv-section-header--margin">Leadership and teamwork</h3>
          <ol class="cv-list">
            <li>Served as Scrum master for three teams</li>
            <li>Coached teammates to push beyond minimum metrics and KPIs, resulting in test coverage 12% higher than department standards and sprint completion rates 7% higher than Amazon’s standards</li>
            <li>Worked with three other Tech teams to improve sprint planning accuracy and completion rates to be within Amazon’s standard range, boosting the entire department’s completion rate by 14% in four months</li>
            <li>Wrote various artifacts to document team dynamics, processes, standards, and setup guides which helped with new team member onboarding and knowledge sharing</li>
            <li>Relocated Scrum team into a conference room to stimulate creative/startup style collaboration, which helped build a team culture and naturally kept all members “in the know” with all aspects of the project. This environment resulted in a successful, on-time product launch with no defects</li>
            <li>Founded a CX Committee to unite UX, Tech, Marketing, Customer Service, and Product teams on matters that improve our customer’s experience, eliminating the silo effect that was occurring between departments</li>
          </ol>
        </div>
        <div class="cv-grid__a2">
          <h3 class="cv-section-header cv-section-header--margin">Launched several products</h3>
          <ol class="cv-list">
            <li>Rewrote the site’s homepage and custom CMS UI and CMS API using React.js and Razzle.js</li>
            <li>Architected and rewrote the front-end code for the product detail page using TypeScript, React.js, and Next.js; complete with 90% code coverage, automated integration tests, logging, and analytics/click-tracking</li>
            <li>Created and maintained flow diagrams for complex UX workflows such as inventory stock notifications which helped speed up development and QA efforts and now serves as a "source of truth" for the feature</li>
            <li>Learned .NET code to help redesign login and checkout pages and untangled years’ worth of spaghetti code</li>
            <li>Rebranded and redeveloped transactional email templates, such as order and shipment notifications, using Foundation CSS and Twig for templating, AWS SQS to manage the notification queue, and Litmus.com for client testing</li>
            <li>Led UI/UX efforts to deprecate large portions of the site gracefully using feature toggles</li>
          </ol>
        </div>
      </div>

      <h3 class="cv-section-header cv-section-header--margin">Became an a11y</h3>
      <ol class="cv-list">
        <li>Drove accessibility best practices during new application development and presented lunch-and-learn presentations on the importance of accessibility, aria attributes, and semantic markup</li>
        <li>Assisted QA engineers in evaluating automated testing tools such as Axe and Axe Coconut</li>
        <li>Addressed accessibility pitfalls across the critical purchasing path, from the homepage to checkout confirmation 4. Worked with Marketing to convert image-based workflows into self-generating HTML code using Storybook.js</li>
      </ol>
    </article>

    <a id="cnn"></a>
    <article class="cv-section cv-section--new-page">
      <div class="cv-employment-heading">
        <h2 class="cv-section-title">
          <span>Work experience</span>
          <span>Turner Services, Inc./CNN</span>
        </h2>
        <aside>
          <dl>
            <dt>Title</dt>
            <dd>Sr. Web Dev</dd>
            <dt>Dates associated</dt>
            <dd>August 2012&ndash;July 2017</dd>
          </dl>
        </aside>
      </div>

      <div class="cv-story cv-story--margin">
        <p>In 2011, I joined CNN to work on their Election Center website (Romney vs. Obama). My contribution was adding punctuation to “U.S. House” and “U.S. Senate” on the <a rel="nofollow" href="https://web.archive.org/web/20130228203716/http://edition.cnn.com/election/2012/results/race/senate" title="Archive of CNN's 2012 U.S. Senate Results Page" target="_blank">Race & Results</a> pages.</p>
        <p>I sought redemption in 2016 when I asked to work on the Election Center again (from the beginning, this time. Not a few weeks before election day). Starting in the <a rel="nofollow" href="https://www.cnn.com/election/2016/primaries" title="2016 Primaries Election Center" target="_blank">primaries</a>, a team of five people created a data-driven website connected to AP data sources and presented users with live data as voting results were released. The app was built in React.js and reached an audience of thirteen million unique visitors and two million concurrent visitors at its peak.</p>
        <p>During my time, I was able to contribute to other projects that lead to <a href="#webby-awards" title="Jump to Webby Awards">five Webby awards</a>, including a site redesign from 2012 to 2013, updates to the now-defunct <a rel="nofollow" href="https://web.archive.org/web/20140203003826/http://ireport.cnn.com/badge-index.jspa" title="Archived iReport Badge Index" target="_blank">iReport</a> social platform, <a rel="nofollow" href="https://web.archive.org/web/20130504011343/http://www.cnn.com/video/shows/anthony-bourdain-parts-unknown/index.html" title="Archive of Anthony Bourdain Parts Unknown" target="_blank">special pages</a>, several <a rel="nofollow" href="https://web.archive.org/web/20171107000012/http://www.cnn.com/entertainment/" title="Archived Version of CNN Entertainment Section Front" target="_blank">branded-section redesigns</a>, and a few internal story-telling tools.</p>
      </div>

      <h3 class="cv-section-header cv-section-header--margin">Built sites, tools, and bots</h3>
      <ol class="cv-list">
        <li>Helped rewrite the entire CNN Website using Dust.js and MongoDB, developed a Facebook chatbot prototype with IBM Watson, redesigned branded sections for several intellectual properties, and handled release communications and changelogs</li>
        <li>Led “tiger teams” to build internal problem-solving tools used in breaking news stories, wrote an internal mapping application that used Angular and Google Maps API v3, then immediately switched to MapBox because they offered better licensing terms</li>
      </ol>

      <h3 class="cv-section-header cv-section-header--margin">Studied needs, wants, and trends</h3>
      <ol class="cv-list cv-list--2-column">
        <li>Worked closely with editorial and design teams to understand goals and pain points which turned into successful features and product launches</li>
        <li>Wrote Node.js scripts to study the layouts editors are using most frequently on the production homepage as a way to identify areas of opportunity for improvement</li>
        <li>Conducted focus groups, participated in A/B testing, and empathized with users to deliver products that met their needs</li>
        <li>Advocated for developer experience and ensured junior developers could easily contribute alongside senior developers</li>
        <li>Interviewed the President of Atlanta’s Center for the Visually Impaired to understand better how site visitors use screen readers and VoiceOver technology</li>
        <li>Studied project success in terms of generated ad revenue vs. project cost and used that data to prioritize backlog features</li>
      </ol>

      <h3 class="cv-section-header cv-section-header--margin">Built CNN.com's 2016 Election Center</h3>
      <ol class="cv-list cv-list--2-column">
        <li>Built the 2016 Election Center website with React.js in four months, which supported millions of unique visitors</li>
        <li>Created head-to-head trackers that tallied the votes for each candidate, ensuring that developers tagged UI elements with ARIA labels to add context, such as what a checkmark next to a candidate meant</li>
        <li>Used <code>data</code> attributes to theme elements for each political party (for example, Democrat elements in blue, Republican elements in red, etc.)</li>
        <li>Challenged stakeholders and designers to prioritize features that would give vital information to first-time voters, such as “what is a Super Delegate?”</li>
        <li>Developed UI elements for embargoed data 12 hours before launch after realizing we initially forgot to account for time zones in our launch plan</li>
        <li>Worked diligently with other developers and QA to deliver an experience with an immovable deadline and zero defects</li>
      </ol>
    </article>

    <a id="delta"></a>
    <article class="cv-section cv-section--new-page">
      <div class="cv-employment-heading">
        <h2 class="cv-section-title">
          <span>Work experience</span>
          <span>Wipro Limited/Delta Air Lines, Inc.</span>
        </h2>
        <aside>
          <dl>
            <dt>Title</dt>
            <dd>Web Dev</dd>
            <dt>Dates associated</dt>
            <dd>November 2011&ndash;August 2012</dd>
          </dl>
        </aside>
      </div>

      <div class="cv-grid">
        <div class="cv-grid__a1">
          <div class="cv-story">
            <p>2011 was the year that I decided to go all-in and become a developer. I opened my business, packed all my life’s belongings in a smart® Car, and relocated to Georgia.</p>
            <p>Delta offered me an opportunity to help rebuild their website. After merging with Northwest Airlines, Delta had hired Razorfish to design a <a rel="nofollow" href="https://vimeopro.com/truestories/true-stories-case-studies/video/48962520" title="Razorfish/Delta Case Study" target="_blank">new experience</a> and several contractors to help deliver. They uprooted and rewrote everything: databases, server logic, front-end website, mobile website, and their mobile app. It was an exciting experience.</p>
            <p>I primarily focused on their loyalty <a rel="nofollow" href="https://www.delta.com/buygftxfer/displayDonateMiles.action" title="Donate Delta SkyMiles" target="_blank">Delta SkyMiles® program dashboards</a>. Logged-in users could transact by buying, selling, gifting, and donating miles. Several checks were also in place to ensure the customer met all necessary conditions like sufficient balances or business-imposed minimums and maximums.</p>
          </div>
        </div>
        <div class="cv-grid__a2">
          <h3 class="cv-section-header">Accomplishments</h3>
          <ol class="cv-list">
            <li>Led foreign and domestic front-end development teams through the construction of multi-lingual e-commerce, loyalty web apps, and a sitewide widget application that allowed users to find and book travel</li>
            <li>Worked with Razorfish designers and developers to integrate a destination-discovery service (now Delta Vacations) which allowed users to book air travel and hotels from a stylized Google Maps UI</li>
            <li>Collaborated with a globally-distributed team in the United States (Atlanta, GA, and Minneapolis, MN) and India</li>
            <li>Worked closely with Java developers to create JSP pages using Struts2 and AJAX to send and receive data</li>
            <li>Assisted front-end developers of other teams working on the homepage and account dashboards to solve layout and JavaScript coding issues</li>
          </ol>
        </div>
      </div>
    </article>

    <article class="cv-section">
      <div class="cv-employment-heading">
        <h2 class="cv-section-title">
          <span>Work experience</span>
          <span>Smart Product Innovations, Inc.</span>
        </h2>
        <aside>
          <dl>
            <dt>Title</dt>
            <dd>Designer</dd>
            <dt>Dates associated</dt>
            <dd>February 2010&ndash;November 2011</dd>
          </dl>
        </aside>
      </div>

      <div class="cv-grid">
        <div class="cv-grid__a1">
          <div class="cv-story">
            <p>My first job out of college was for an industrial manufacturing company. Smart Vent Products, Inc. (under the umbrella of Smart Product Innovations, Inc.) developed patented wet-floodproofing vents that would help protect homes and businesses during floods.</p>
            <p>When I joined, they were also planning to release a consumer product for dispensing paper towels without having to touch anything.</p>
            <p>I spent half my time designing things such as flyers, retail boxes, and instruction manuals; I mostly <a href="https://www.behance.net/gallery/1259149/Smart-Vent-Magazine-Ads" title="SmartVent Magazine Ads" target="_blank">created ads</a>. I also told them I could build <a rel="nofollow" href="https://web.archive.org/web/20120705002552/http://www.smartvent.com/" title="Archived Version of SmartVent.com" target="_blank">their website</a>.</p>
            <p>As it turns out, an art school doesn’t provide the necessary training to build commercial-grade internet sites. We worked with a contractor in Colorado who helped teach me what a CMS was, and on my own, I took classes for JavaScript and jQuery (because everything I learned about Flash was proving worthless at the time).</p>
          </div>
        </div>
        <div class="cv-grid__a2">
          <h3 class="cv-section-header">Accomplishments</h3>
          <ol class="cv-list">
            <li>Set the art direction, tone, and brand guidelines for two products; one in consumer electronics and the other in residential and commercial construction</li>
            <li>Designed ads (print and web), assets, technical illustrations, patent diagrams, instruction manuals, retail packaging, logos, branded collateral, forms, and other print materials for the CLEANCut Touchless Paper Towel Dispenser, Smart Vent Flood Vents (and accessories), and other products in R&D phases</li>
            <li>Designed and built a website using ExpressionEngine CMS for the CLEANCut Touchless Paper Towel Dispenser that included demo videos, infomercial landing pages, news releases, videos, and a GoDaddy shopping cart</li>
          </ol>
        </div>
      </div>
    </article>

    <article class="cv-section">
      <div class="cv-employment-heading">
        <h2 class="cv-section-title">
          <span>Work experience</span>
          <span>Stuzo, LLC (Internship)</span>
        </h2>
        <aside>
          <dl>
            <dt>Title</dt>
            <dd>Intern</dd>
            <dt>Dates associated</dt>
            <dd>July&ndash;September 2009</dd>
          </dl>
        </aside>
      </div>

      <div class="cv-grid">
        <div class="cv-grid__a1">
          <div class="cv-story">
            <p>Stuzo is where my professional web experience started. At the time, Facebook Pages allowed brands to create custom games and sweepstakes on their platform, and <a rel="nofollow" href="https://web.archive.org/web/20110203123510/http://www.stuzo.com/" title="Archived Version of Stuzo.com" target="_blank">Stuzo</a> was one of the top-five partners Facebook recommended.</p>
            <p>Not much glory in this job; I spent a lot of time splicing graphics designed by somebody else to hand them over to developers in Scandinavia. I include this story because this is when I read the book <a rel="nofollow" href="https://sensible.com/dont-make-me-think/" title="Don't Make Me Think, Revisited" target="_blank">“Don’t Make Me Think”</a> by Steve Krug. And thus, my quest to build great interfaces began.</p>
          </div>
        </div>
        <div class="cv-grid__a2">
          <h3 class="cv-section-header">Accomplishments</h3>
          <p class="cv-p">I graduated, yay! And you made it to the end of my CV, thank you!</p>
        </div>
      </div>
    </article>
  </section>
  <section class="cv-section cv-section--new-page">
    <h2 class="cv-section-title">Awards and Certifications</h2>
    <a id="webby-awards"></a>
    <h3 class="cv-section-header">Webby Awards</h3>
    <p><a rel="nofollow" href="https://www.webbyawards.com/about/" title="About The Webby Awards" target="_blank">The Webby Awards</a> is an annual international award program that recognizes excellence on the Internet and hailed as <q>The Internet's Highest Honor</q> by The New York Times.</p>
    <div class="cv-award-details">
      <div class="cv-award-details__badges">
        <a rel="_nofollow" href="https://winners.webbyawards.com/2017/websites-and-mobile-sites/general-desktop-mobile-sites/news/14227/cnn" title="CNN's 2017 Webby Honoree Award Page" target="_blank"><img alt="2017 Webby Award Honoree Badge" src="https://assets.christianhain.com/images/webby-honoree-2017.webp" width="175" height="175"></a>
        <a rel="_nofollow" href="https://winners.webbyawards.com/2016/websites-and-mobile-sites/general-desktop-mobile-sites/news/160466/cnncom" title="CNN's 2016 Webby Honoree Award Page" target="_blank"><img alt="2016 Webby Award Honoree Badge" src="https://assets.christianhain.com/images/webby-honoree-2016.webp" width="175" height="175"></a>
        <a rel="_nofollow" href="https://winners.webbyawards.com/2015/websites-and-mobile-sites/general-desktop-mobile-sites/news/158589/cnncom" title="CNN's 2015 Webby Honoree Award Page" target="_blank"><img alt="2015 Webby Award Honoree Badge" src="https://assets.christianhain.com/images/webby-honoree-2015.webp" width="175" height="175"></a>
        <a rel="_nofollow" href="https://winners.webbyawards.com/2014/websites-and-mobile-sites/general-desktop-mobile-sites/news/146046/cnncom" title="CNN's 2014 Webby Honoree Award Page" target="_blank"><img alt="2014 Webby Award Honoree Badge" src="https://assets.christianhain.com/images/webby-honoree-2014.webp" width="175" height="175"></a>
      </div>
      <dl class="cv-award-details__specs cv-details cv-details--tight">
        <dt class="cv-details__title">Project</dt>
        <dd><a href="#cnn" title="Jump to CNN Experience">CNN.com</a></dd>
        <dt class="cv-details__title">Category</dt>
        <dd>Web Sites and Mobile Sites: News</dd>
        <dt class="cv-details__title">Award</dt>
        <dd>Honoree</dd>
        <dt class="cv-details__title">Years Awarded</dt>
        <dd><a rel="_nofollow" href="https://winners.webbyawards.com/2017/websites-and-mobile-sites/general-desktop-mobile-sites/news/14227/cnn" title="CNN's 2017 Webby Honoree Award Page" target="_blank">2017</a></dd>
        <dd><a rel="_nofollow" href="https://winners.webbyawards.com/2016/websites-and-mobile-sites/general-desktop-mobile-sites/news/160466/cnncom" title="CNN's 2016 Webby Honoree Award Page" target="_blank">2016</a></dd>
        <dd><a rel="_nofollow" href="https://winners.webbyawards.com/2015/websites-and-mobile-sites/general-desktop-mobile-sites/news/158589/cnncom" title="CNN's 2015 Webby Honoree Award Page" target="_blank">2015</a></dd>
        <dd><a rel="_nofollow" href="https://winners.webbyawards.com/2014/websites-and-mobile-sites/general-desktop-mobile-sites/news/146046/cnncom" title="CNN's 2014 Webby Honoree Award Page" target="_blank">2014</a></dd>
      </dl>
    </div>
    <div class="cv-award-details">
      <div class="cv-award-details__badges">
        <a rel="_nofollow" href="https://winners.webbyawards.com/2013/websites-and-mobile-sites/general-desktop-mobile-sites/community/148372/cnn-ireport" title="CNN iReport's 2013 Webby Honoree Award Page" target="_blank"><img alt="2013 Webby Award Honoree Badge" src="https://assets.christianhain.com/images/webby-honoree-2013.webp" width="175" height="175"></a>
      </div>
      <dl class="cv-award-details__specs cv-details cv-details--tight">
        <dt class="cv-details__title">Project</dt>
        <dd><a href="#cnn" title="Jump to CNN/iReport Experience">iReport.com</a></dd>
        <dt class="cv-details__title">Category</dt>
        <dd>Web Sites and Mobile Sites: Community</dd>
        <dt class="cv-details__title">Award</dt>
        <dd>Honoree</dd>
        <dt class="cv-details__title">Year Awarded</dt>
        <dd><a rel="_nofollow" href="https://winners.webbyawards.com/2013/websites-and-mobile-sites/general-desktop-mobile-sites/community/148372/cnn-ireport" title="CNN iReport's 2013 Webby Honoree Award Page" target="_blank">2013</a></dd>
      </dl>
    </div>

    <a id="scrum-developer"></a>
    <h3 class="cv-section-header cv-section-header--margin">Certified Scrum Developer&reg; (CSD&reg;)</h3>
    <p>The <a rel="nofollow" href="https://www.scrumalliance.org/get-certified/developer-track/certified-scrum-developer" title="Certified Scrum Developer&reg; Landing Page" target="_blank">CSD from Scrum Alliance, Inc.</a> certifies a working understanding of the scrum framework and agile principles, and is evidence of engineering skills in an agile environment.</p>
    <div class="cv-award-details">
      <div class="cv-award-details__badges">
        <a rel="_nofollow" href="https://badgecert.com/bc/html/groupbadges.html?k=U1U5Z1BhdlF0Nys4K0VVa2NUOVNMems0cTkybW0yb2Q" title="CSD BadgeCert Verification" target="_blank"><img alt="CSD Badge" src="https://badgecert.com/bc/html/img/badges/generated/badge-7230.png" width="175" height="175"></a>
      </div>
      <dl class="cv-award-details__specs cv-details cv-details--tight">
        <dt class="cv-details__title">Badge ID</dt>
        <dd><a rel="_nofollow" href="https://badgecert.com/bc/html/groupbadges.html?k=U1U5Z1BhdlF0Nys4K0VVa2NUOVNMems0cTkybW0yb2Q" title="CSD BadgeCert Verification" target="_blank">1884423</a></dd>
        <dt class="cv-details__title">Years Certified</dt>
        <dd>2023&ndash;2024</dd>
      </dl>
    </div>
  </section>
</main>

{% endblock %}
