{% extends 'layouts/base.njk' %}

{% block content %}
<main>
  <section class="intro">
    <div class="intro__text content">
      <h1>Welcome Back to the Channel!</h1>
      <p>That's right! My YouTube hiatus is over, and we've got some things to talk about.</p>
      <a
        rel="nofollow"
        href="https://www.youtube.com/@XianHain"
        class="youtube-cta cta cta--primary"
        target="_blank"
        title="@XianHain on YouTube"
      >
        <span class="youtube-cta__icon">
          {% include "icons/youtube-solid.svg"  %}
        </span>
        <span class="youtube-cta__text">
          Check out my videos!
        </span>
      </a>
    </div>
    <div class="intro__video-wrapper">
      <video class="intro__video" autoplay="true" playsinline="true" muted="true" loop="true">
        <source src="https://assets.christianhain.com/videos/intro-background-video-2025-01-14.mp4">
      </video>
    </div>
  </section>
  <section class="blog">
    <div class="blog__content">
      <div class="blog__entries">
        {% for item in pagination.items %}
          <article class="blog-entry">
            <div class="blog-entry__window">
              <div class="blog-entry__content">
                <h1 class="blog-entry__title">{{ item.title }}</h1>
                <div class="blog-entry__body-copy">
                  <p class="blog-entry__meta page-title__meta">
                    <time datetime="{{ item.publishedAt }}">
                      {{ item.publishedAt | blogPostTimestamp }}
                    </time>
                    <span>
                  {{ item.readTimeInMinutes }} minute read
                </span>
                  </p>
                  <p class="blog-entry__brief"> {{ item.brief }}</p>
                  <ul class="blog-entry__link-list">
                    <li>
                      <a class="blog-entry__link" href="/blog/{{ item.slug }}" title="{{ item.title }}">
                        Read Post
                      </a>
                    </li>
                    <li>
                      <a class="blog-entry__link" href="/blog/" title="Blog">
                        View All Posts
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="work-with-me work-with-me-grid">
    <div
      rel="js-headshot"
      class="headshot work-with-me__headshot"
      data-state="original"
      data-tweening="false"
    >
      <img
        alt="Christian Hain's Headshot"
        rel="js-headshot--original"
        src="https://assets.christianhain.com/images/xianhain-headshot.png"
        width="160"
        height="160"
      >
      <img
        alt="Christian's Adobe Creative Type Illustration: The Innovator"
        rel="js-headshot--modified"
        src="https://assets.christianhain.com/images/adobe-innovator.gif"
        class="headshot__modified-img"
        width="160"
        height="160"
        aria-hidden="true"
      >
    </div>
    <section class="work-with-me__about">
      <h2 class="work-with-me__title">Hello, World!</h2>
      <p class="work-with-me__p">I'm Christian <span>(he/him)</span>, and I'm an Internet power-user,
        creator, and
        <a
          href="/cv#scrum-developer"
          title="View Scrum Certification"

        >Certified Scrum Developer&reg;</a>
        engineer. Specializing in browser-based experiences, my goal is to
        share what I know about making beautiful
        <abbr title="user interfaces">UI</abbr> and frictionless
        <abbr title="user experiences">UX</abbr> accessible to everyone.
      </p>
      <ul class="work-with-me__socials" aria-label="Web Presence">
        {% for profile in socialProfiles %}
          <li rel="js-menu-item" data-active="false">
            <a
              rel="{{ profile.attributes.rel | join(" ") }} js-menu-item-link"
              href="{{ profile.attributes.href }}"
              class="work-with-me__social-link"
              title="{{ profile.attributes.title }}"
              target="{{ profile.attributes.target }}"
            >
            <span class="work-with-me__social-link-icon">
              {% include "icons/" + profile.id + ".svg"  %}
            </span>
              <span class="work-with-me__social-link-text">{{ profile.attributes.title }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
    <section class="work-with-me__tenants">
      <div class="tenants">
        <h3 id="tenants" class="tenants__title">These are my tenants</h3>
        <p>
          Want to know what it's like working with me? Expect an unwavering
          commitment to the user and Web Development community.
        </p>
        <ol class="tenants__list" aria-labelledby="tenants">
          <li>
            <h4 class="tenants__title">
              Premium <abbr title="user interface">UI</abbr> development
            </h4>
            High-end, accessible interfaces must elevate the user's browsing
            experience. Customers perceive quality based on the standards set by
            their favorite mobile and desktop websites, regardless of industry
            or purpose.
          </li>
          <li>
            <h4 class="tenants__title">Maintainable software</h4>
            Yours, mine, ours— everyone is invested in the code. It must be
            logical and maintainable, it must have context about its existence,
            and it must be written cohesively so everyone can understand.
          </li>
          <li>
            <h4 class="tenants__title">Full-stack and full-cycle</h4>
            As you know, there's more to a website than its code. In addition to
            business objectives, there's planning, refining, designing,
            prototyping, developing, documenting, testing, deploying,
            supporting, reporting, advertising, marketing, <i>et cetera</i>.
            Therefore, I pay attention to all these aspects to ensure effective
            design and development cycles that favor the investments spent to
            delight the users.
          </li>
        </ol>
      </div>
      <div class="ctas content">
        <a
          href="/cv"
          class="cta cta--primary"
          title="Curriculum Vitae"
        >
          Take a look at my <abbr title="curriculum vitae">CV</abbr>
        </a>
        <a
          rel="nofollow"
          class="cta cta--primary"
          href="https://www.linkedin.com/in/crhain"
          title="Go to LinkedIn.com"
          target="_blank"
        >
          Check out my LinkedIn
        </a>
      </div>
    </section>
    <section class="social-proof">
      <div class="social-proof-container social-proof-container--awards">
        <h3 id="work-with-me-awards" class="social-proof-container__title">
          Awards and Certifications
        </h3>
        <ol aria-labelledby="work-with-me-awards" class="social-proof-container__list">
          <li class="award award--webby"><a href="/cv#webby-awards" title="Webby Awards">5-time Webby Award Honoree</a></li>
          <li class="award award--csd"><a href="/cv#scrum-developer" title="Scrum Certification">Certified Scrum Developer</a></li>
        </ol>
      </div>
      <div class="social-proof-container social-proof-container--companies">
        <h3 id="work-with-me-companies" class="social-proof-container__title">
          Companies I've developed with
        </h3>
        <ol aria-labelledby="work-with-me-companies" class="social-proof-container__list">
          <li class="company company--finquery">FinQuery</li>
          <li class="company company--outworlders">OutWorlders</li>
          <li class="company company--amazon">Amazon</li>
          <li class="company company--cnn">CNN</li>
          <li class="company company--delta">Delta</li>
          <li class="company company--smartvent">Smart Vent, Inc.</li>
        </ol>
      </div>
    </section>
  </section>
</main>

{% endblock %}
