@use "../utils/blog-nav";

%_copy {
  max-width: var(--max-width);
  margin: 0 auto;
}

[data-pagename="blog"] {
  --header-bar-color: light-dark(hsl(0, 0%, 100%) ,hsl(148, 98%, 7%));
  --header-bar-color-alpha0: light-dark(hsl(0, 0%, 100%, 0) ,hsla(148, 98%, 7%, 0));

  .blog-table {
    border-collapse: collapse;
    font-family: var(--monolisa), monospace;
    margin: 4em 0 0;
    width: 100%;
  }

  .blog-table__heading {
    --left-right-padding: .5625em;

    font-family: var(--amsi-condensed-bold), sans-serif;
    font-weight: 400;
    padding: .5em var(--left-right-padding);
    text-align: left;
    text-transform: uppercase;

    @media (min-width: 40rem) {
      --left-right-padding: 1.125em;
    }
  }

  .blog-table__cell {
    --left-right-padding: 1ch;

    border-top: .0625em solid var(--footer-border-color);
    line-height: 2;
    padding: .4365em var(--left-right-padding) .5em;
    vertical-align: top;

    @media (min-width: 40rem) {
      --left-right-padding: 2ch;
    }

    p + p {
      --p-margin: 0;
    }
  }

  .blog-table__cell--time {
    span:first-of-type {
      white-space: nowrap;
    }

    span:nth-of-type(n + 1) {
      @media (min-width: 40rem) {
        white-space: nowrap;
      }
    }
  }

  .blog-nav {
    padding: 2rem 0 0;
  }

  .blog-nav__link-list {
    @extend %blog-nav-link-list;
  }

  .blog-nav__link {
    @extend %blog-nav-link;
  }

  .blog-nav__link:before {
    @extend %blog-nav-link-pseudo-before;
  }

  .blog {
    @extend %_copy;

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .blog__songquote {
    text-align: center;
  }

  .blog__copy {
    @extend %_copy;

    h2 {
      text-align: center;
    }
  }

  .blog__signature {
    text-align: right;
  }

  .blog__postscript {
    padding: 2em 0 0;

    &:before {
      content:  "";
      display: block;
      height: .0625rem;
      background: var(--footer-border-color);
      width: 60%;
      margin: 0 auto;
      top: -2em;
      position: relative;
    }
  }
}
