@use "sass:meta";
@use "sass:color";

/****************************************************************************** clock-hero */
[data-pagename="now"] {
  font-family: var(--amsi-normal), sans-serif;

  --background-color: light-dark(hsl(0, 0%, 100%), hsl(215, 33%, 10%));
  --header-bar-color: light-dark(hsl(0, 0%, 100%), hsl(215, 33%, 10%));
  --header-bar-color-alpha0: light-dark(
      hsla(0, 0%, 100%, 0),
      hsla(215, 33%, 10%, 0)
  );
}

/****************************************************************************** clock */
.now-clock {
  align-items: center;
  background: radial-gradient(circle, #E0E0E0, #C0C0C0);
  border-radius: 50%;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 100px;
  justify-content: center;
  position: relative;
  width: 100px;
  margin: 2em auto;
}

.now-clock__center-circle {
  background: black;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.now-clock__hand {
  background: black;
  position: absolute;
  transform-origin: bottom center;
  transform: rotate(0deg);
  width: 2px;
}

.now-clock__hand--hour {
  background: #333;
  height: 30%;
  top: 20%;
}

.now-clock__hand--minute {
  background: #666;
  height: 40%;
  top: 10%;
}

.now-clock__hand--second {
  background: red;
  height: 45%;
  top: 5%;
}

/****************************************************************************** content */
.now-content {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--amsi-normal), sans-serif;
  line-height: 2;
  margin: 8em auto 0;
}

.now-content h2 {
  font-family: ThygaItalicSemirounded, sans-serif;
  font-size: 3em;
  line-height: 1.2;
  margin: 1em 0 0;
}

.now-content p + p {
  margin: 2em 0 0;
}

.now-content strong {
  font-family: var(--amsi-narrow-bold), sans-serif;
  font-size: 1.25em;
}

.now-content ol {
  padding: 0;
}

.now-content ol > li + li {
  margin: 2em 0 0;
}

.now-content li > * + * {
  margin: 1em 0 0;
}

.now-content a {
  color: var(--white);
}

.now-content__timestamp {
  font-size: .75em;
  text-align: center;
}
