[data-pagename="portfolio"] {
  --p-font-family: var(--monolisa);
  --p-font-size: .75em;

  --background-color: light-dark(hsl(0, 0%, 100%), hsl(215, 33%, 10%));
  --header-bar-color: light-dark(hsl(0, 0%, 100%), hsl(215, 33%, 10%));
  --header-bar-color-alpha0: light-dark(
      hsla(0, 0%, 100%, 0),
      hsla(215, 33%, 10%, 0)
  );

  p {
    max-width: 80ch;
    align-self: center;
  }

  p + p, {
    --p-margin: 2em 0 0;
  }

  h1,
  h2,
  h3 {
    font-family: var(--amsi-narrow-bold), sans-serif;
  }

  dt {
    font-family: var(--amsi-narrow-bold), sans-serif;
    font-size: .75rem;
    text-transform: uppercase;
  }

  dd {
    margin: 0;
    font-family: var(--monolisa), monospace;
    font-size: .75em;
  }

  dd + dt {
    margin-top: .5rem;
  }
}
