@use "../utils/_print-page-dimensions" as *;

.footer {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1em;
  color: var(--footer-color);

  @supports (padding-bottom:env(safe-area-inset-bottom)) {
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    padding-bottom: var(--safe-area-inset-bottom);
  }

  &.printable {
    @extend %print-page-dimensions;
  }
}

.footer__footer {
  margin: 4em 0 0;
}

.footer__copyright {
  border-top: .0625rem solid var(--footer-border-color, hsla(0, 0%, 0%, .3));
  font-family: var(--font-meta);
  line-height: 1.5;
  padding: 1em 0;
}

.footer__footer small {
  font-size: .75em;
}

.footer__footer span {
  font-weight: 900;
}