@use "../utils/_print-page-dimensions" as *;

.footer {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1em;
  color: var(--footer-color);

  @supports (padding-bottom:env(safe-area-inset-bottom)) {
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    padding-bottom: var(--safe-area-inset-bottom);
  }

  &.printable {
    @extend %print-page-dimensions;
  }
}

.footer__footer {
  margin: 4em 0 0;
}

.footer__content {
  --p-font-family: var(--font-meta);

  border-top: .0625rem solid var(--footer-border-color, hsla(0, 0%, 0%, .3));
  display: flex;
  font-family: var(--p-font-family), sans-serif;
  gap: 2em;
  justify-content: start;
  line-height: 1.5;
  padding: 1em 0;

  @media (max-width: 44em) {
    flex-direction: column;
  }
}

.footer__copyright {
  display: inline-block;
  font-size: .75em;

  @media print {
    font-size: .5em;
  }
}

.footer__footer span {
  font-weight: 900;
}

.footer__quick-links {
  --display: flex;

  display: var(--display);
  font-size: .75em;
  flex-wrap: wrap;
  gap: 1em;
  list-style: none;
  margin: 1em 0 0;
  padding: 0;
  text-transform: uppercase;

  @media print {
    --display: none;
  }
}
