/****************************************************************************** Header */
.header {
  --header-template-columns: repeat(2, 1fr);

  display: grid;
  grid-template-columns: var(--header-template-columns);
  grid-template-rows: 1fr;
  gap: 1rem;
  margin: 1rem auto 0;
  position: relative;
  max-width: 80rem;
  width: 100%;

  @media (min-width: 40rem) {
    --header-template-columns: repeat(3, 1fr);
  }
}

.header__spacer {
  --spacer-display: none;

  display: var(--spacer-display);

  @media (min-width: 40rem) {
    --spacer-display: block;
  }
}

.header__logo {
  color: var(--blue-bright);
  display: block;
  margin: .25rem auto 0;
  padding: 0 1rem;
  height: 4rem;
  width: 11.75rem;
}