%_menu-link {
  align-items: center;
  color: var(--white);
  display: flex;
  min-height: 1.5rem;
  min-width: 1.5rem;
  text-decoration: none;
}

/****************************************************************************** Menu */
:root {
  --menu-link-color: var(--black);
  --menu-shadow-color: var(--white-shadow);
  --menu-background-color: var(--white);
  --menu-border-color-base-hsl-values: 0, 0%, 0%;
}

.menu {
  --menu-border-color: hsla(var(--menu-border-color-base-hsl-values), .25);

  position: absolute;
  right: 0;
  top: -.5rem;
  padding: .5rem 1rem 1rem;

  @media print {
    display: none;
  }
}

.menu__list {
  display: flex;
  list-style: none;
  gap: .5rem;
  padding: .5rem;
  border: .0625rem solid var(--menu-border-color, black);
  margin: 0;
  justify-content: flex-end;
  border-radius: 2.5rem;
  background: var(--menu-background-color);
  box-shadow: 0 0 2rem 1rem var(--menu-shadow-color);
  transition: border .2s ease-in-out;

  .menu:hover & {
    --menu-border-color: hsla(var(--menu-border-color-base-hsl-values), .5);
  }
}

.menu__link {
  @extend %_menu-link;
}

.menu__button {
  @extend %_menu-link;
  appearance: none;
  background: 0;
  border: 0;
  color: var(--white);
  padding: 0;
  text-decoration: none;
}

.menu__link-icon > svg {
  color: var(--menu-link-color);
  display: block;
  margin: 0 auto;
  opacity: .25;
  transition: opacity .2s ease-in-out;

  .menu:hover & {
    opacity: .5;
  }

  .menu:hover &:hover,
  .menu__link:focus-visible & {
    opacity: 1;
  }
}

.menu__link-text {
  white-space: nowrap;
  height: 0;
  overflow: hidden;
  width: 0;
}