@use "../utils/video-background";

.menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: max-content;

  @extend %video-background-layer-2;
}

.menu__nav {
  display: flex;
  align-items: center;

  @extend %video-background-layer-3;
}

.menu__list {
  display: flex;
  list-style: none;
  margin: 0;
  gap: .75em;
}

.menu-item {
  display: block;
  font-size: 1em;
  overflow: hidden;
  transition: opacity .2s ease-in-out,
              color .3s ease-in-out,
              background-color .2s ease-in-out;
}

.menu-item--link {
  color: var(--portal-window-color-primary);
  filter: drop-shadow(0 .125em .0625em var(--black));
  opacity: .5;

  &:hover {
    color: var(--pink-mid);
  }

  .menu:hover &,
  [data-active="true"] & {
    opacity: 1;
  }
}

.menu-item--button {
  appearance: none;
  background: 0;
  border-radius: 50%;
  border: 0;
  color: var(--portal-window-color-secondary);
  filter: drop-shadow(0 .0625em 0 color-mix(in hsl, var(--white) 30%, transparent));
  margin: 0 .25em;
  padding: .25em;

  &:hover {
    background-color: color-mix(in hsl, var(--portal-window-color-primary) 50%, transparent);
    box-shadow: 0 .125em 0 color-mix(in hsl, var(--portal-window-color-primary) 30%, transparent),
                inset 0 .125em .125em color-mix(in hsl, var(--portal-window-color-secondary) 50%, transparent);
  }
}

.menu-item__icon {
  display: block;
  block-size: 1.5em;
  inline-size: 1.5em;

  .menu-item--home & {
    transform: scale(.9) translateY(-.0625em);
  }

  .menu-item--blog & {
    transform: translateY(.125em);
  }

  .menu-item--cv & {
    transform: translateY(.125em);
  }

  .menu-item--recipes & {
    transform: scale(.95) translateY(.0625em);
  }

  .menu-item--uses & {
    transform: scale(.95);
  }

  .menu-item--now & {
    transform: scale(.95) translateY(.0625em);
  }
}

.menu-item__text {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: .0625em;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: .0625em;
}
