.page-title {
  margin: 3em 0 0;
  text-align: center;
}

.page-title__h1 {
  font-size: clamp(2em, 8vw, 3em);
  margin: 0;
}

.page-title__item {
  margin: 0;
}

.page-title__meta {
  display: flex;
  gap: 2ch;
  justify-content: center;

  > * + * {
    display: inline-block;

    &:before {
      content: "\2022";
      display: inline-block;
      margin: 0 2ch 0 0;
    }
  }
}