.social-proof {
  margin: 2rem 0 0;
  padding: 0 0 1rem;
}

.social-proof__title {
  font-family: var(--font-primary-regular);
  font-size: 1rem;
  letter-spacing: .0625rem;
  text-align: center;
  text-transform: uppercase;
}

.companies-list {
  --companies-grid-template-columns: repeat(2, 1fr);
  --companies-grid-template-rows: repeat(3, 1fr);
  --companies-list-display: grid;
  --companies-list-margin-top: 3rem;

  display: var(--companies-list-display);
  grid-template-columns: var(--companies-grid-template-columns);
  grid-template-rows: var(--companies-grid-template-rows);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  list-style: none;
  justify-items: center;
  margin: var(--companies-list-margin-top) auto;
  padding: 0;
  width: calc(100% - 2rem);

  @media (min-width: 30rem) {
    --companies-grid-template-columns: repeat(3, 1fr);
    --companies-grid-template-rows: repeat(2, 1fr);
    --companies-list-margin-top: 2rem;
  }

  @media (min-width: 47rem) {
    --companies-list-display: flex;
    --companies-list-margin-top: 1rem;
    gap: 3rem;
    justify-content: center;
  }
}

.company {
  background-color: light-dark(var(--blue-mid), var(--blue-bright));
  mask-mode: alpha;
  mask-position: center;
  mask-repeat: no-repeat;
  text-indent: -9999rem;
}

.company--cnn {
  --cnn-grid-area: 1/2/1/2;
  grid-area: var(--cnn-grid-area);
  height: 2rem;
  mask-image: url("https://assets.christianhain.com/images/logo-cnn.svg");
  width: 3rem;

  @media (min-width: 30rem) {
    --cnn-grid-area: 1/3/1/3;
  }
}

.company--delta {
  --delta-grid-area: 2/2/2/2;
  --delta-translateY: .5rem;

  grid-area: var(--delta-grid-area);
  height: 2rem;
  mask-image: url("https://assets.christianhain.com/images/logo-delta.svg");
  transform: translateY(var(--delta-translateY));
  width: 8rem;

  @media (min-width: 30rem) {
    --delta-grid-area: 2/2/2/2;
  }

  @media (min-width: 47rem) {
    --delta-translateY: .125rem;
  }
}

.company--amazon {
  --amazon-grid-area: 3/2/3/2;
  --amazon-margin-top: 1rem;
  --amazon-translateY: .875rem;

  grid-area: var(--amazon-grid-area);
  height: 2rem;
  margin: var(--amazon-margin-top) 0 0;
  mask-image: url("https://assets.christianhain.com/images/logo-amazon.svg");
  transform: translateY(var(--amazon-translateY));
  width: 7rem;

  @media (min-width: 30rem) {
    --amazon-grid-area: 2/3/2/3;
    --amazon-margin-top: 0;
  }

  @media (min-width: 47rem) {
    --amazon-translateY: .5rem;
  }
}

.company--smartvent {
  --smartvent-grid-area: 3/1/3/1;
  --smartvent-margin-top: 1rem;

  grid-area: var(--smartvent-grid-area);
  height: 2rem;
  mask-image: url("https://assets.christianhain.com/images/logo-smartvent.svg");
  margin: var(--smartvent-margin-top) 0 0;
  width: 7rem;

  @media (min-width: 30rem) {
    --smartvent-grid-area: 2/1/2/1;
    --smartvent-margin-top: 0;
  }

  @media (min-width: 47rem) {
    transform: translateY(-.375rem);
  }
}

.company--finquery {
  grid-area: 1/1/1/1;
  height: 2rem;
  mask-image: url("https://assets.christianhain.com/images/logo-finquery.svg");
  transform: translateY(.25rem);
  width: 7rem;
}

.company--outworlders {
  --outworlders-grid-area: 2/1/2/1;
  --outworlders-translateY: -.25rem;

  grid-area: var(--outworlders-grid-area);
  height: 2.5rem;
  mask-image: url("https://assets.christianhain.com/images/logo-outworlders.svg");
  transform: translateY(var(--outworlders-translateY));
  width: 10.5rem;

  @media (min-width: 30rem) {
    --outworlders-grid-area: 1/2/1/2;
    --outworlders-translateY: -.75rem;
  }
}

.awards-list {
  display: flex;
  gap: 3em;
  justify-content: center;
}

.award a {
  background-color: light-dark(var(--blue-mid), var(--blue-bright));
  mask-mode: alpha;
  mask-position: center;
  mask-repeat: no-repeat;
  text-indent: -9999rem;
  display: block;
}

.award--webby a {
  height: 4rem;
  mask-image: url("https://assets.christianhain.com/images/webby-honoree-badge.svg");
  width: 11rem;
}

.award--csd a {
  height: 4rem;
  mask-image: url("https://assets.christianhain.com/images/csd-badge.svg");
  width: 17rem;
}
