:root {
  --font-primary-light: 'amsi_pro_narrowlight', sans-serif;
  --font-primary-regular: 'amsi_pro_narrowregular', sans-serif;
  --font-emphasis-black: 'amsi_pro_condensedblack', sans-serif;
  --font-emphasis-ultra: 'amsi_pro_condensedultra', sans-serif;
}
