@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --font-primary-light: 'amsi_pro_narrowlight', sans-serif;
  --font-primary-regular: 'amsi_pro_narrowregular', sans-serif;
  --font-primary-bold: 'amsi_pro_narrowbold', sans-serif;
  --font-emphasis-regular: 'amsi_pro_condensedregular', sans-serif;
  --font-emphasis-bold: 'amsi_pro_condensedbold', sans-serif;
  --font-emphasis-black: 'amsi_pro_condensedblack', sans-serif;
  --font-emphasis-ultra: 'amsi_pro_condensedultra', sans-serif;
}
