.page-title {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 4em auto;
  text-align: center;
}

.page-title__h1 {
  font-size: var(--local-page-title-h1-font-size, clamp(8em, 16vw, 16em));
  font-family: ThygaItalicSemirounded, sans-serif;
  font-weight: 400;
  line-height: .825;
  margin: 0;
  text-transform: lowercase;

  .page-title--long & {
    --local-page-title-h1-font-size: clamp(4em, 8vw, 8em);
  }

  @media print {
    --local-page-title-h1-font-size: 8em;
  }
}

.page-title__description {
  font-family: ThygaSemirounded, sans-serif;
  font-size: 1.5em;
}
