@use "../../../_scss/utils/_print-page-dimensions" as *;

$two-column-breakpoint: 60em;

[data-pagename="cv"] {
  color: light-dark(var(--black), var(--blue-dusty));
  background-color: light-dark(var(--white), var(--charcoal));

  // @TODO - replace with CSS layers later
  .header {
    --header-bar-color: light-dark(hsl(0, 0%, 100%), hsl(215, 33%, 10%));
    --header-bar-color-alpha0: light-dark(hsla(0, 0%, 100%, 0), hsla(215, 33%, 10%, 0%));
    --header-logo-primary-color: light-dark(var(--black), var(--blue-dusty));
    --header-logo-secondary-color: light-dark(var(--pink-bright), var(--pink-mid));
  }
}


/****************************************************************************** Layout */
.page-break {
  border: 0;
  page-break-after: always;
  margin: 0;
}

.page__content {
  max-width: $two-column-breakpoint;
  margin: 0 auto;
  font-smooth: always;
  padding: 0 1em;

  a {
    --a-color: light-dark(var(--pink-dark), var(--purple-light));
    --a-hover-color: light-dark(var(--pink-bright), var(--pink-mid));
  }

  &.printable {
    @extend %print-page-dimensions;
  }
}

/****************************************************************************** Grid */
.cv-grid {
  display: grid;
  grid-column-gap: 2em;
  grid-row-gap: 1em;
  grid-template-columns: var(--local-cv-grid-template-columns, repeat(1, 1fr));

  @media print, (min-width: $two-column-breakpoint) {
    --local-cv-grid-template-columns: repeat(2, 1fr);
  }
}

.cv-grid__a1 {
  @media print, (min-width: $two-column-breakpoint) {
    grid-area: 1 / 1 / 2 / 2;
  }
}
.cv-grid__a2 {
  @media print, (min-width: $two-column-breakpoint) {
    grid-area: 1 / 2 / 2 / 3;
  }
}
.cv-grid__b1 {
  @media print, (min-width: $two-column-breakpoint) {
    grid-area: 2 / 1 / 3 / 3;
  }
}

/****************************************************************************** Section */
.cv-section {
  border-top: var(
      --local-cv-section-border-top,
      .0625rem solid light-dark(black, var(--blue-dusty))
  );
  font-family: var(--local-cv-font-family, var(--amsi-normal)), sans-serif;
  line-height: var(--local-cv-line-height, 1.75);
  margin: var(--local-cv-section-margin-top, 1em) 0 0;
  padding: var(--local-cv-section-padding, 1em 1em 0);

  @media (min-width: $two-column-breakpoint) {
    --local-cv-section-margin-top: 3em;
    --local-cv-section-padding: 2em 4em 0;
  }

  @media print {
    --local-cv-font-family: var(--amsi-narrow-regular), sans-serif;
    --local-cv-font-size: auto;
    --local-cv-line-height: auto;
    --local-cv-section-margin-top: 1em;
    --local-cv-section-padding: 1em 4em 0;
  }
}

.cv-section--new-page {
  @media print {
    --local-cv-section-border-top: 0;
    --local-cv-section-padding: 0 4em;
    page-break-before: always;
  }
}

.cv-section--no-border {
  --local-cv-section-border-top: 0;
}

/****************************************************************************** Headings */
.cv-section-title {
  font-family: var(--amsi-condensed-ultra), sans-serif;
  font-size: var(--local-cv-section-title-font-size, 2em);
  font-weight: 400;
  margin: 0;

  @media print {
    --local-cv-section-title-font-size: 1.75em;
  }
}

.cv-section-header {
  font-family: var(--amsi-condensed-black), sans-serif;
  font-size: var(--local-cv-section-header-font-size, 1.5em);
  font-weight: 400;
  margin: 0;
  text-transform: var(--local-cv-section-header-text-transform, uppercase);

  @media print {
    --local-cv-section-header-font-size: 1.375em;
  }
}

.cv-section-header--subheader-0 {
  --local-cv-section-header-text-transform: uppercase;
  --local-cv-section-header-font-size: 1.375em;

  @media print {
    --local-cv-section-header-font-size: 1.125em;
  }
}

.cv-section-header--subheader-1 {
  --local-cv-section-header-text-transform: auto;
  --local-cv-section-header-font-size: auto;
  font-family: var(--amsi-narrow-bold), sans-serif;
}

.cv-section-header--margin {
  margin: 1em 0 0;
}

/****************************************************************************** Lists */
.cv-list {
  padding: 0 0 0 1em;
  text-align: justify;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

// This style isn't used but it _is_ one of my favorite layouts. Maybe next
// time?
.cv-list--2-column {
  display: block;
  gap: 3em;

  @media print, (min-width: $two-column-breakpoint) {
    column-count: 2;
  }

  > * + * {
    margin: 1em 0 0;
    break-inside: avoid;
  }
}

.cv-sneaky-list {
  padding: 0;
  list-style: none;
  margin: 0;

  li {
    display: table-row;
  }

  span {
    display: table-cell;

    &:first-child {
      text-align: center;
    }

    & + span {
      padding: 0 0 0 .25em;
    }
  }
}

.cv-details {
  margin: 0;
  padding: 0;
  font-family: var(--amsi-narrow-regular), sans-serif;

  dd {
    display: inline;
    margin: 0;

    &:not(dd:has(+ dt)):not(dd:last-child)::after {
      content: ", "
    }
  }

  li {
    display: inline;
    margin: 0;

    &:not(&:last-child) {
      &::after {
        content: ", ";
      }

      &:has(+ li:last-child)::after {
        content: ", and ";
      }
    }
  }
}

.cv-details__title {
  display: inline;

  &:after {
    content: ": ";
    font-family: var(--amsi-narrow-regular), sans-serif;
  }

  dd + &:before {
    content: "";
    display: block;
  }

  :not(.cv-details--tight) > dd + &:before {
    margin: 1em;
  }
}

/****************************************************************************** Story */
.cv-story {
  font-family: var(--ca-spotnik-serif), serif;
  font-size: var(--local-cv-font-size, 1em);
  hyphens: auto;
  line-height: var(--local-cv-story-line-height, 2);
  margin: var(--local-cv-story-margin-top, 1em) auto 0;
  max-width: var(--local-cv-story-max-width, 60ch);

  @media (min-width: $two-column-breakpoint) {
    --local-cv-story-margin-top: .5em;
  }

  @media print {
    --local-cv-story-line-height: 1.5;
    --local-cv-font-size: .875em;
  }

  > * {
    --local-cv-story-margin-top: 0;
  }

  > * + * {
    --local-cv-story-margin-top: 1em;
  }
}

.cv-story--margin {
  --local-cv-story-margin-top: 1em;
}

.cv-story--condensed {
  --local-cv-story-line-height: 1.5;
  text-align: justify;

  @media print {
    --local-cv-font-size: .75em;
  }
}

/****************************************************************************** Employment Heading */
.cv-employment-heading {
  flex-wrap: wrap;
  gap: 1em;
  line-height: 1;

  @media (min-width: 42em) {
    align-items: flex-end;
    display: flex;
  }

  > h2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 min-content;
    gap: .25em;
    margin: 0;
  }

  > h2 > span:first-child {
    &:after {
      content: ":";
      font-family: var(--amsi-narrow-bold), sans-serif;
    }
  }

  > h2 > span:last-child {
    display: inline-block;
    font-family: var(--amsi-condensed-regular), sans-serif;
  }

  dl {
    display: flex;
    font-size: 1.2em;
    gap: 1em;
    line-height: 1;
    text-transform: uppercase;
    margin: var(--local-cv-employment-heading-dl-margin, .5em 0 0);

    @media (min-width: 42em) {
      --local-cv-employment-heading-dl-margin: 0;
    }

    @media print {
      font-size: inherit;
      line-height: 1.75;
    }
  }

  dt {
    display: none;
  }

  dd {
    margin: 0;
    font-family: var(--amsi-condensed-regular), sans-serif;
  }
}

/****************************************************************************** Awards and Certifications */
.cv-award-details {
  --margin-top: 1em;
  margin: var(--margin-top) 0 0;

  & + & {
    --margin-top: 2em;
  }
}

.cv-award-details__badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em 0 0;
}

.cv-award-details__badges img {
  aspect-ratio: 1 / 1;

  @media print {
    height: 11em;
    width: 11em;
  }
}

.cv-award-details__specs {
  margin: 1em 0 0;
  text-align: center;
}

/****************************************************************************** Misc */
.cv-p {
  margin: 0;
}

.cv-meta {
  font-family: var(--monolisa), monospace;
  font-size: .875em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 clamp(2em, 5vw, 4em);

  > * {
    margin: 0;
  }
}
