@use "../../../_scss/utils/print-page-dimensions" as *;

.footer {
  --footer-color: initial;
  --footer-border-color: hsla(0, 0%, 0%, .3);

  color: var(--footer-color);
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1em var(--local-footer-padding-bottom, 0);

  @supports (padding-bottom:env(safe-area-inset-bottom)) {
    --local-footer-padding-bottom: var(--safe-area-inset-bottom);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
  }

  &.printable {
    @extend %print-page-dimensions;
  }
}

.footer__footer {
  margin: 4em 0 0;
}

.footer__content {
  border-top: .0625rem solid var(--footer-border-color);
  display: flex;
  font-family: var(--font-meta), sans-serif;
  gap: 2em;
  justify-content: start;
  line-height: 1.5;
  padding: 1em 0;

  @media (max-width: 44em) {
    flex-direction: column;
  }
}

.footer__copyright {
  display: inline-block;
  font-size: var(--local-footer-font-size, .75rem);

  @media print {
    --local-footer-font-size: .5rem;
  }
}

.footer__footer span {
  font-weight: 900;
}

.footer__quick-links {
  display: var(--local-footer-display, flex);
  font-size: .75em;
  flex-wrap: wrap;
  gap: 1em;
  list-style: none;
  margin: 1em 0 0;
  padding: 0;
  text-transform: uppercase;

  a {
    --a-color: light-dark(var(--black), var(--purple-light));
    --a-hover-color: light-dark(var(--pink-bright), var(--pink-mid));
  }

  @media print {
    --local-footer-display: none;
  }
}
