@import url('https://assets.christianhain.com/fonts/webfontkit-20250111-030900/stylesheet.css');

@import url('https://assets.christianhain.com/fonts/monolisa-webfont/monolisa.css');

@import url('https://assets.christianhain.com/fonts/thyga/thyga-semirounded.css');
@import url('https://assets.christianhain.com/fonts/thyga/thyga-italic.css');
@import url('https://assets.christianhain.com/fonts/thyga/thyga-italic-semirounded.css');

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  color-scheme: light dark;

  --blue-bright: hsl(194, 100%, 50%);
  --blue-mid: hsl(205, 100%, 14%);
  --blue-dark: hsl(206, 100%, 4%);
  --blue-ink: hsl(262, 99%, 10%);
  --black: hsl(0, 0%, 0%);
  --white: light-dark(hsl(0, 0%, 100%), hsl(200, 16%, 89%));
  --white-mid: hsl(0, 33%, 99%);
  --white-shadow: light-dark(hsl(200, 8%, 93%), hsl(200, 16%, 84%));
  --pink-bright: hsl(339, 80%, 50%);
  --pink-light: hsl(311, 22%, 92%);
  --pink-mid: hsl(311, 100%, 81.8%);
  --pink-dark: hsl(339, 80%, 35%);
  --green-bright: hsl(137, 84%, 44%);
  --green-dark: hsl(148, 98%, 7%);
  --green-shadow: hsl(148, 98%, 5%);
  --amber: hsl(31, 100%, 50%);
  --yellow-c: hsl(52, 100%, 50%);
  --yellow-c-shadow: hsl(50, 100%, 50%);
  --charcoal: hsl(215, 33%, 10%);
  --charcoal-dark: hsl(215, 33%, 8%);

  --pantone-black-rooster: hsl(0, 50%, 13%);
  --pantone-mocha-mousse: hsl(19, 26%, 52%);

  --amsi-normal: 'amsi_pro_normalregular', sans-serif;
  --amsi-normal-black: 'amsi_pro_normalblack', sans-serif;
  --amsi-normal-light: 'amsi_pro_normallight', sans-serif;
  --amsi-narrow-light: 'amsi_pro_narrowlight', sans-serif;
  --amsi-narrow-regular: 'amsi_pro_narrowregular', sans-serif;
  --amsi-narrow-bold: 'amsi_pro_narrowbold', sans-serif;
  --amsi-condensed-regular: 'amsi_pro_condensedregular', sans-serif;
  --amsi-condensed-bold: 'amsi_pro_condensedbold', sans-serif;
  --amsi-condensed-black: 'amsi_pro_condensedblack', sans-serif;
  --amsi-condensed-ultra: 'amsi_pro_condensedultra', sans-serif;

  --monolisa: ml, monospace;

  --sometype-mono: "sometype mono", monospace;

  --inra: 'Inria Serif', serif;

  --edu: 'Edu TAS Beginner', cursive;

  --font-meta: sans-serif;
}
