:root {
  color-scheme: light dark;

  --blue-bright: hsl(194, 100%, 50%);
  --blue-mid: hsl(205, 100%, 14%);
  --blue-dark: hsl(206, 100%, 4%);
  --blue-ink: hsl(262, 99%, 10%);
  --black: hsl(0, 0%, 0%);
  --white: light-dark(hsl(0, 0%, 100%), hsl(200, 16%, 89%));
  --white-mid: hsl(0, 33%, 99%);
  --white-shadow: light-dark(hsl(200, 8%, 93%), hsl(200, 16%, 84%));
  --pink-bright: hsl(339, 80%, 50%);
  --pink-dark: hsl(339, 80%, 35%);
  --green-bright: hsl(137, 84%, 44%);
  --green-dark: hsl(148, 98%, 7%);
  --green-shadow: hsl(148, 98%, 5%);
  --amber: hsl(31, 100%, 50%);
  --yellow-c: hsl(52, 100%, 50%);
  --yellow-c-shadow: hsl(50, 100%, 50%);

  --menu-border-color: transparent;
}
