@use "../utils/fonts";

body {
  background-color: var(--background-color);
  color: var(--body-color);
  font-family: var(--font-primary-regular);
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  scrollbar-color: var(--scrollbar-color, auto);
  text-rendering: optimizeLegibility;
  margin: 0;
}
