code {
  color: inherit;
  font-size: inherit;
  line-height: inherit;

  font-family: "Sometype Mono", monospace;;
  font-optical-sizing: auto;
  font-weight: 400;

  &:not(pre > &) {
    background: light-dark(hsla(0, 0%, 0%, .1), hsla(0, 0%, 0%, .5));
    border-radius: .25em;
    margin: var(--p-margin);
    padding: 0 var(--code-padding-x, .25ch);
  }
}
