[data-pagename="404"] {
  --header-bar-color: hsl(52, 100%, 50%);
  --header-bar-color-alpha0: hsla(52, 100%, 50%, 0);

  background-color: var(--yellow-c);
  color: var(--black);
  font-family: var(--amsi-narrow-light), sans-serif;

  .header__logo {
    transform: translateY(-1.25rem);
    width: 15rem;
    height: 5.75rem;

    a {
      display: block;
    }

    img {
      width: 100%;
      height: 5.75rem;
    }
  }

  h1 {
    color: var(--yellow-c);
    font-family: var(--amsi-condensed-ultra), sans-serif;
    font-size: 8em;
    line-height: .8;
    margin: var(--margin-top, 0) 0 0;
    text-align: center;
    text-shadow: 0 0 .125rem var(--yellow-c),
      0 .9375rem 1.5625rem hsl(47, 100%, 45%),
      0 -.125rem .1875rem hsl(59, 100%, 50%),
      0 -.3125rem .625rem hsl(43, 100%, 55%),
      0 .3125rem .625rem hsl(43, 100%, 50%),
      0 .1847rem .25rem hsl(43, 100%, 85%),
      0 0 1.25rem hsl(43, 100%, 90%);
    -webkit-text-stroke: .0625rem var(--yellow-c);

    @media (min-width: 43.75rem) {
      --margin-top: 1em;
    }
  }

  .fourohfour__status {
    font-family: var(--amsi-narrow-light), sans-serif;
    font-size: 2em;
    margin: 1em 0 0;
    text-align: center;
  }

  .fourohfour__status strong {
    font-family: var(--amsi-condensed-ultra), sans-serif;
    font-weight: 400;
    margin: 1em 0 0;
  }

  .fourohfour__story {
    font-size: var(--story-font-size, 1.25em);
    margin: 2em 0 0;

    @media (min-width: 43.75rem) {
      --story-font-size: 1.5em;
    }
  }

  .fourohfour__story p + p {
    margin: 1em 0 0;
  }

  .fourohfour__iframe {
    aspect-ratio: 4/3 auto;
    display: block;
    height: 100%;
    margin: 2em auto 0;
    max-width: 440px;
    width: 100%;
  }

  .fourohfour__cta {
    margin: 1em auto 0;
  }
}
