%_copy {
  max-width: var(--max-width);
  margin: 0 auto;
}

.blog__article {
  @extend %_copy;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog__copy {
  @extend %_copy;

  h2 {
    text-align: center;
  }
}

.blog__signature {
  text-align: right;
}

