[data-pagename="blog-entry"] {
  --header-bar-color: light-dark(hsl(0, 0%, 100%) ,hsl(148, 98%, 7%));
  --header-bar-color-alpha0: light-dark(hsl(0, 0%, 100%, 0) ,hsla(148, 98%, 7%, 0));
}

%_copy {
  max-width: var(--max-width);
  margin: 0 auto;
}

.blog__article {
  @extend %_copy;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog__copy {
  @extend %_copy;

  h2 {
    text-align: center;
  }
}

.blog__signature {
  text-align: right;
}

