.blog-table {
  font-family: var(--sometype);
  margin: 4em 0 0;
  width: 100%;
  border-collapse: collapse;
}

.blog-table__heading {
  text-align: left;
  font-family: var(--amsi-condensed-bold);
  font-weight: 400;
  text-transform: uppercase;
  padding: .5em 1em;
}

.blog-table__cell {
  border-top: .0625em solid var(--footer-border-color);
  padding: .5em 1.15em;
  vertical-align: top;
}

.blog-table__cell--time {
  white-space: nowrap;
}