@use "../utils/blog-nav";
@use "../utils/video-background";

/****************************************************************************** Content */
.content {
  max-width: 45rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.content--full-bleed {
  padding-left: 0;
  padding-right: 0;
}

.content__title {
  text-align: center;
}

/****************************************************************************** CTA */
.ctas {
  margin-top: 4rem;
}

.cta {
  border-radius: 2em;
  border: .125em solid var(--blue-dark);
  box-sizing: border-box;
  display: block;
  font-family: var(--amsi-narrow-bold);
  font-weight: 400;
  line-height: .75;
  margin: 0 auto;
  max-width: 20rem;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  width: calc(100% - 2em);

  & + & {
    margin-top: 1rem;
  }
}

.cta--primary {
  --a-default-color: var(--blue-bright);
  --a-hover-color: var(--white);
  background-image: linear-gradient(
    to top,
    var(--blue-dark),
    var(--blue-mid)
  );
}

/****************************************************************************** YouTube CTA */
.youtube-cta {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.youtube-cta__icon {
  height: 1em;
  width: 1.5em;
}

.youtube-cta__text {
  display: block;
  transform: translateY(-.125em);
}

/****************************************************************************** Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: min(45rem, 60vh);
}

.intro__text {
  @extend %video-background-layer-1;

  max-width: 30rem;
  text-align: center;
}

.intro__text h1 {
  --light-text-shadow:
    0 .5rem .5rem var(--white),
    0 -.5rem .5rem var(--white),
    .5rem 0 .5rem var(--white),
    -.5rem 0 .5rem var(--white);

  --dark-text-shadow: 0 .25rem .125rem var(--black);

  color: light-dark(var(--blue-mid), var(--blue-bright));
  font-family: var(--font-emphasis-ultra);
  font-size: 5rem;
  letter-spacing: -.5px;
  line-height: .875;
  margin: 1rem 0 0;
  text-shadow: light-dark(var(--light-text-shadow), var(--dark-text-shadow));
}

.intro__text p {
  --p-margin: 1em 0 0;
  font-size: 1.5rem;
}

.intro__text a {
  margin: 2em auto 0;
}

.intro__video-wrapper {
  @extend %video-background-layer-0;

  left: 0;
  margin: 0 auto;
  mask-image: linear-gradient(hsl(0, 0%, 0%) 75%, hsla(0, 0%, 0%, 0) 99%);
  max-height: 70rem;
  min-height: min(60rem, 60vh);
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  &:after {
    background-image: linear-gradient(
      var(--background-direction),
      var(--background-start-color) 0%,
      var(--background-end-color) 100%,
    );
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
  }
}

.intro__video {
  @extend %video-background-layer-1;

  filter: light-dark(grayscale(100%) contrast(2), grayscale(100%));
  margin-left: 50%;
  min-height: 60rem;
  min-width: 100vw;
  mix-blend-mode: light-dark(multiply, overlay);
  opacity: light-dark(.35, 1);
  position: relative;
  transform: translateX(-50%);
}

/****************************************************************************** Blog */
.blog {
  margin: 4rem 0 0;
  padding: 0 1rem;
  position: relative;
}

.blog-entry {
  --portal-window-frame-padding: .5rem;
  --portal-window-border-radius: 1.5rem;
  --portal-window-color-primary: light-dark(var(--blue-bright), var(--green-bright));
  --portal-window-color-secondary: light-dark(var(--white), var(--green-dark));
  --portal-window-screen-background: light-dark(
      var(--white),
      radial-gradient(
        farthest-corner at 50% -50%,
        var(--portal-window-color-secondary) 80%,
        color-mix(in hsl, var(--portal-window-color-secondary) 70%, var(--black)) 100%
    )
  );
  --portal-window-screen-border: .125rem solid light-dark(hsl(194, 100%, 45%), var(--black));
  --portal-window-screen-border-radius: .75rem;
  --portal-window-screen-padding: 1rem;
  --portal-window-screen-shadow: light-dark(hsl(0, 0%, 0%, .05), hsl(0, 0%, 0%, .2));

  color: light-dark(var(--black), var(--portal-window-color-primary));

  @media (min-width: 30rem) {
    --portal-window-frame-padding: 1rem;
  }
}

.blog-entry__content {
  margin: 0 auto;
  max-width: 40rem;
}

.blog-entry__title {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  font-weight: 400;
  font-family: var(--amsi-narrow-bold);
}

.blog-entry__body-copy {
  --p-font-family: var(--monolisa);
  --p-font-size: .75em;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-entry__link-list {
  @extend %blog-nav-link-list;
}

.blog-entry__link {
  @extend %blog-nav-link;
}
.blog-entry__link:hover {
  opacity: initial;
}
.blog-entry__link:before {
  @extend %blog-nav-link-pseudo-before;
}

/****************************************************************************** Headshot */
.headshot {
  margin: 4rem auto 0;
  position: relative;
  width: 10rem;
  height: 10rem;
}

.headshot > img {
  border-radius: 50%;
  border: .25rem solid light-dark(var(--blue-mid), var(--blue-bright));
  box-shadow: inset 0 0 0 .25rem light-dark(var(--blue-mid), var(--blue-bright));
  box-sizing: border-box;
  height: 100%;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  aspect-ratio: 1;
}

.headshot__modified-img {
  opacity: 0;
  transition: opacity .2s ease-in-out;

  .headshot[data-state="modified"] & {
    opacity: 1;
  }

  .headshot[data-state="original"][data-tweening="false"] & {
    z-index: -1;
  }
}

/****************************************************************************** Work with Me */
.work-with-me {
  margin: 8rem auto 0;
  padding: 0 1rem;
}

.work-with-me-grid {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  max-width: calc(75ch + (18.75rem * 2) + (2rem * 2));

  > *:nth-child(1) { grid-area: var(--col-1-grid-area); }
  > *:nth-child(2) { grid-area: var(--col-2-grid-area); }
  > *:nth-child(3) { grid-area: var(--col-3-grid-area); }
  > *:nth-child(4) { grid-area: var(--col-4-grid-area); }

  @media (min-width: 40rem) {
    --grid-template-columns: 10rem auto;

    --col-1-grid-area: 1 / 1 / 2 / 2;
    --col-2-grid-area: 1 / 2 / 2 / 3;
    --col-3-grid-area: 2 / 1 / 3 / 3;
    --col-4-grid-area: 3 / 1 / 4 / 3;
  }

  @media (min-width: 60rem) {
    --grid-template-columns: 10rem auto;

    --col-1-grid-area: 1 / 1 / 2 / 2;
    --col-2-grid-area: 1 / 2 / 2 / 2;
    --col-3-grid-area: 2 / 2 / 2 / 2;
    --col-4-grid-area: 3 / 2 / 4 / 2;
  }

  @media (min-width: 70rem) {
    --grid-template-columns: 18.75rem auto 18.75rem;

    --col-1-grid-area: 1 / 1 / 2 / 2;
    --col-2-grid-area: 1 / 2 / 2 / 3;
    --col-3-grid-area: 2 / 2 / 3 / 3;
    --col-4-grid-area: 3 / 2 / 4 / 3;
  }
}

.work-with-me__headshot {
  flex-shrink: 0;
  max-width: 10rem;
  width: 10rem;
  text-align: var(--text-align, center);
  margin: 0 auto;

  @media (min-width: 40rem) {
    margin: 0 0 0 auto;
  }
}

.work-with-me__about {
  max-width: 75ch;
  margin: 1rem 0 0;
}

.work-with-me__title {
  font-family: var(--amsi-condensed-ultra);
  font-size: 2em;
  color: light-dark(var(--blue-mid), var(--blue-bright));
  margin: 0;
}

.work-with-me__p {
  margin: 1rem 0 0;
}

.work-with-me__socials {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  list-style: none;
  row-gap: 1rem;
}

.work-with-me__social-link {
  display: block;
  opacity: light-dark(.5, .75);
  max-height: 1.5rem;
  max-width: 1.5rem;
  overflow: hidden;

  &:hover {
    opacity: 1;
    color: light-dark(var(--blue-mid), var(--blue-bright));
  }
}

.work-with-me__social-link-icon {
  display: block;
  max-width: 1.5rem;
  max-height: 1.5rem;
}

/****************************************************************************** Tenants */
.tenants {
  margin: 2rem var(--margin-sides, auto) 0;
  max-width: 75ch;

  @media (min-width: 60rem) {
    --margin-sides: 0;
  }
}

.tenants__list {
  padding: 0 0 0 1.25rem;
}

.tenants__list > * {
  margin: 1rem 0 0;
  padding: 0 0 0 .5rem;
}

.tenants__title {
  margin: 0;
  font-weight: 400;
  font-family: var(--font-primary-bold);
}

/****************************************************************************** Social Proof */
.social-proof {
  margin: 2.75rem 0 0 0;
}

.social-proof-container {
  container-type: inline-size;
}

.social-proof-container__title {
  font-weight: 400;
  text-transform: uppercase;
  font-family: var(--amsi-condensed-regular);
  margin: 0;
  text-align: var(--text-align, center);

  @media (min-width: 30rem) {
    --text-align: left;
  }

  @container (min-width: 30rem) {
    --text-align: center;
  }

  .social-proof-container--companies & {
    margin-top: var(--margin-top, 2rem);

    @container (min-width: 20rem) {
      --margin-top: 4rem;
    }
  }
}

.social-proof-container__list {
  display: flex;
  flex-direction: var(--flex-direction, column);
  gap: var(--gap, 1rem);
  list-style: none;
  margin: var(--margin-top, 1rem) 0 0;
  padding: 0;

  @container (min-width: 30rem) {
    --flex-direction: row;
    --gap: 4rem;
    --margin-top: 2rem;
    justify-content: center;
  }

  .social-proof-container--companies & {
    display: var(--companies-list-display, flex);
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    @container (min-width: 20rem) {
      --companies-list-display: grid;

      grid-template-columns: var(--companies-grid-template-columns, repeat(2, 1fr));
      grid-template-rows: var(--companies-grid-template-rows, repeat(3, 1fr));
      justify-items: center;
    }

    @container (min-width: 30rem) {
      --companies-grid-template-columns: repeat(3, 1fr);
      --companies-grid-template-rows: repeat(2, 1fr);
      --companies-list-margin-top: 2rem;
    }
  }
}

.company {
  background-color: light-dark(var(--blue-mid), var(--blue-bright));
  mask-mode: alpha;
  mask-position: center;
  mask-repeat: no-repeat;
  text-indent: -9999rem;
}

.company--cnn {
  grid-area: var(--cnn-grid-area, 1/2/1/2);
  height: 2rem;
  mask-image: url("https://assets.christianhain.com/images/logo-cnn.svg");
  width: 3rem;

  @container (min-width: 30rem) {
    --cnn-grid-area: 1/3/1/3;
  }
}

.company--delta {
  grid-area: var(--delta-grid-area, 2/2/2/2);
  height: 2rem;
  mask-image: url("https://assets.christianhain.com/images/logo-delta.svg");
  transform: translateY(var(--delta-translateY, 0));
  width: 8rem;

  @container (min-width: 20rem) {
    --delta-translateY: .5rem;
  }

  @container (min-width: 30rem) {
    --delta-grid-area: 2/2/2/2;
  }

  @container (min-width: 47rem) {
    --delta-translateY: .125rem;
  }
}

.company--amazon {
  grid-area: var(--amazon-grid-area, 3/2/3/2);
  height: 2rem;
  margin: var(--amazon-margin-top, 0) 0 0;
  mask-image: url("https://assets.christianhain.com/images/logo-amazon.svg");
  width: 7rem;

  @container (min-width: 20rem) {
    --amazon-margin-top: 1rem;
    transform: translateY(var(--amazon-translateY, .875rem));
  }

  @container (min-width: 30rem) {
    --amazon-grid-area: 2/3/2/3;
    --amazon-margin-top: 0;
  }

  @container (min-width: 47rem) {
    --amazon-translateY: .5rem;
  }
}

.company--smartvent {
  height: 2rem;
  mask-image: url("https://assets.christianhain.com/images/logo-smartvent.svg");
  margin: var(--smartvent-margin-top, 0) 0 0;
  width: 7rem;

  @container (min-width: 20rem) {
    grid-area: var(--smartvent-grid-area, 3/1/3/1);
    --smartvent-margin-top: 1rem;
  }

  @container (min-width: 30rem) {
    --smartvent-grid-area: 2/1/2/1;
    --smartvent-margin-top: 0;
  }

  @container (min-width: 47rem) {
    transform: translateY(-.375rem);
  }
}

.company--finquery {
  grid-area: 1/1/1/1;
  height: 2rem;
  mask-image: url("https://assets.christianhain.com/images/logo-finquery.svg");
  width: 7rem;

  @container (min-width: 20rem) {
    transform: translateY(.25rem);
  }
}

.company--outworlders {
  grid-area: var(--outworlders-grid-area, 2/1/2/1);
  height: 2.5rem;
  mask-image: url("https://assets.christianhain.com/images/logo-outworlders.svg");
  transform: translateY(var(--outworlders-translateY, -.5rem));
  width: 10.5rem;

  @container (min-width: 20rem) {
    --outworlders-translateY: -.25rem;
  }

  @container (min-width: 30rem) {
    --outworlders-grid-area: 1/2/1/2;
    --outworlders-translateY: -.5rem;
  }
}

.award a {
  background-color: light-dark(var(--blue-mid), var(--blue-bright));
  mask-mode: alpha;
  mask-position: center;
  mask-repeat: no-repeat;
  text-indent: -9999rem;
  display: block;
}

.award--webby a {
  height: 4rem;
  mask-image: url("https://assets.christianhain.com/images/webby-honoree-badge.svg");
  width: 10.5rem;
}

.award--csd a {
  height: 4rem;
  mask-image: url("https://assets.christianhain.com/images/csd-badge.svg");
  width: 16.75rem;
}
