@use "../utils/blog-nav";

/****************************************************************************** Content */
.content {
  max-width: 45rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.content--full-bleed {
  padding-left: 0;
  padding-right: 0;
}

.content__title {
  text-align: center;
}

/****************************************************************************** CTA */
.ctas {
  margin-top: 4rem;
}

.cta {
  border: .0625rem solid var(--blue-dark);
  border-radius: 1rem;
  box-sizing: border-box;
  display: block;
  line-height: .75;
  margin: 0 auto;
  max-width: 20rem;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  width: calc(100% - 2rem);
  font-weight: 400;
  font-family: var(--amsi-narrow-bold);

  & + & {
    margin-top: 1rem;
  }
}

.cta--primary {
  background-image: linear-gradient(
    to top,
    var(--blue-dark),
    var(--blue-mid)
  );
  color: var(--blue-bright);

  &:hover {
    color: var(--white);
  }
}

/****************************************************************************** Headshot */
.headshot {
  margin: 4rem auto 0;
  position: relative;
  width: 8.75rem;
  height: 8.75rem;

  @media (min-width: 25rem) {
    width: 11.25rem;
    height: 11.25rem;
  }

  @media (min-width: 26.25rem) {
    width: 12.5rem;
    height: 12.5rem;
  }
}

.headshot > img {
  border-radius: 50%;
  border: .25rem solid light-dark(var(--blue-mid), var(--blue-bright));
  box-shadow: inset 0 0 0 .25rem var(--blue-bright);
  box-sizing: border-box;
  display: block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.headshot > a {
  left: calc(100% - 2.75rem);
  position: absolute;
  top: 35%;
  z-index: 0;

  @media (min-width: 25rem) {
    left: calc(100% - 2.5rem);
  }
  @media (min-width: 26.25rem) {
    left: calc(100% - 2.25rem);
  }
}

.headshot__modified-img {
  opacity: 0;
  transition: opacity .2s ease-in-out;

  .headshot[data-state="modified"] & {
    opacity: 1;
  }

  .headshot[data-state="original"][data-tweening="false"] & {
    z-index: -1;
  }
}

/****************************************************************************** Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: min(45rem, 60vh);
  text-align: center;
}

.intro h1 {
  color: light-dark(var(--blue-mid), var(--blue-bright));
  font-size: 5rem;
  text-shadow: light-dark(initial, 0 .25rem .125rem var(--black));
  font-family: var(--font-emphasis-ultra);
  letter-spacing: -.5px;
  margin: 1rem 0 0;
  line-height: .875;
}

.intro p {
  --p-margin: 1em 0 0;
  font-size: 1.5rem;
}

.intro span {
  font-family: var(--font-primary-light);
  font-size: .875em;
  text-transform: uppercase;
}

.intro a {
  white-space: nowrap;
  color: light-dark(var(--pink-dark), var(--white));
}
.intro a:hover {
  color: light-dark(var(--pink-bright), var(--white));
}

/****************************************************************************** Blog */
.blog {
  margin: 4rem 0 0;
  padding: 0 1rem;
}

.blog-entry {
  background-color: light-dark(var(--white), var(--green-dark));
  border: .125rem solid light-dark(var(--white-shadow), var(--green-bright));
  border-radius: light-dark(.25rem, 1rem);
  color: light-dark(var(--black), var(--green-bright));
  margin: 0 auto;
  max-width: 40rem;
  padding: 2rem 2rem 1rem;
  text-decoration: none;
}

.blog-entry__title {
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

.blog-entry__body-copy {
  font-family: var(--sometype);
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-entry__link-list {
  @extend %blog-nav-link-list;
}

.blog-entry__link {
  @extend %blog-nav-link;
}
.blog-entry__link:hover {
  opacity: initial;
}
.blog-entry__link:before {
  @extend %blog-nav-link-pseudo-before;
}

/****************************************************************************** Tenants */
.tenants {
  margin: 3rem auto 0;
  min-height: min(25rem, 40vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tenants ol {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;

  @media (min-width: 41rem) {
    gap: 2rem 3rem;
  }
}

.tenants li {
  @media (min-width: 41rem) {
    text-align: justify;
  }

  &:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
    text-align: right;
  }

  &:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  &:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
    text-align: center;
  }
}

.tenants h3 {
  margin: 0;
}
