[data-pagename="recipes"] {
  --header-bar-color: light-dark(hsl(0, 0%, 100%) ,hsl(148, 98%, 7%));
  --header-bar-color-alpha0: light-dark(hsl(0, 0%, 100%, 0) ,hsla(148, 98%, 7%, 0));

  .phase {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    align-items: start;

    @media (min-width: 700px) {
      grid-template-columns: 30% 70%;
    }

    > * {
      margin: 0;
    }
  }

  .phase__ingredients {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-areas:
    "quantity unit name"
    ".        .    note";
    grid-auto-rows: auto;
    column-gap: 1em;
    row-gap: 0.25em;
    align-items: center;
  }

  .ingredient {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-areas: inherit;
    grid-column: 1 / -1;
  }

  .ingredient__quantity {
    grid-area: quantity;
  }

  .ingredient__unit {
    grid-area: unit;
  }

  .ingredient__name {
    grid-area: name;
  }

  .ingredient__note {
    grid-area: note;
  }

  .social-music-videos {
    margin: 4em 0 0;
  }

  .social-music-videos__videos {
    display: flex;
    gap: 1em;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  .social-music-videos__figure {
    margin: 0;
    max-inline-size: 325px;
  }

  .tiktok-embed {
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: .5em;
  }
}
