{% layout "./base.liquid" %}

{% block content %}
  <main>
    <div class="slash-page-title">
      <h1 class="slash-page-title__h1">/now</h1>
      <p class="slash-page-title__description">
        Inspired by the <a rel="nofollow" href="http://nownownow.com" title="NowNowNow Community: sites with a /now page" target="_blank">NowNowNow community</a>.
      </p>
    </div>

    <div class="now-clock">
      <div class="now-clock__hand now-clock__hand--hour" rel="js-hour-hand" style="transform: rotate(90deg);"></div>
      <div class="now-clock__hand now-clock__hand--minute" rel="js-minute-hand" style="transform: rotate(180deg);"></div>
      <div class="now-clock__hand now-clock__hand--second" rel="js-second-hand" style="transform: rotate(270deg);"></div>
      <div class="now-clock__center-circle"></div>
    </div>

    <div class="now-content">
      <div class="page__content">
        <p class="now-content__timestamp">
          Last updated: <time datetime="{{ lastmod }}">{{ lastmod | fullDateString }}</time>
        </p>
        {{ content | safe }}
      </div>
    </div>
  </main>
{% endblock %}
