.layout-portfolio {
  margin: 2rem 0 0;

  @media (min-width: 50rem) {
    display: flex;
    gap: 2rem;
  }
}

.layout-portfolio__content {
  flex-grow: 1;
}

.layout-portfolio__sidebar {
  max-inline-size: 15rem;
  inline-size: 100%;
  order: 1;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem 2rem;
  margin: 3rem 0 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.portfolio-list__item {
  flex: 1 1 calc(33.333% - 2rem);
  box-sizing: border-box;
  min-inline-size: 10rem;
  max-inline-size: calc(33.333% - 2rem);
  inline-size: 100%;
}

@media (max-width: 56.25rem) {
  .portfolio-list__item {
    flex: 1 1 calc(50% - 2rem);
    max-inline-size: calc(50% - 2rem);
  }
}

@media (max-width: 37.5rem) {
  .portfolio-list__item {
    flex: 1 1 100%;
    max-inline-size: 100%;
  }
}

.portfolio-list__link {
  text-decoration: none;
  display: block;
}

.portfolio-list__image {
  object-fit: cover;
  width: 100%;
}

.portfolio-list__title {
  margin: .5rem 0 0;
}

.portfolio-list__synopsis {
  margin: .5rem 0 0;
}

.portfolio-list__promo {
  background: light-dark(var(--white-mid), var(--blue-dark));
  border-radius: .5em;
  border: .0625em solid light-dark(var(--white-shadow), var(--blue-dark));
  display: flex;
  gap: 2em;
  margin: 5em 0 0;
  padding: 1em;
  text-decoration: none;

  &:hover {
    background: light-dark(var(--white-shadow), var(--blue-mid));
  }

  > :first-child {
    width: calc(100% / 3);
  }

  > :last-child {
    flex-grow: 1;
    align-self: center;
  }
}

.portfolio-list__promo-image {
  object-fit: cover;
  width: 100%;
}

.portfolio-list__promo-title {
  margin: 0;
}

.portfolio-list__promo-synopsis {
  font-family: var(--amsi-normal), sans-serif;
  font-size: 1em;
}
