.layout-portfolio {
  margin: 2rem 0 0;

  @media (min-width: 50rem) {
    display: flex;
    gap: 2rem;
  }
}

.layout-portfolio__content {
  flex-grow: 1;
}

.layout-portfolio__sidebar {
  max-inline-size: 15rem;
  inline-size: 100%;
  order: 1;
}
