@use "../utils/video-background";

/****************************************************************************** Header */
.header {
  --header-template-columns: repeat(2, 1fr);

  @extend %video-background-layer-3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  position: relative;
  width: 100%;
  font-size: 1rem;
}

.header__chrome {
  order: 1;
  block-size: 5rem;
  z-index: 100;

  @media print {
    display: none;
  }
}

.header__fixed-chrome-content {
  position: fixed;
  inline-size: 100vw;
}

.header__bar {
  inline-size: 100%;
  fill: none;
  height: 2.5rem;
  overflow: visible;
}

.header__bar__solid-bar {
  height: 2.5rem;
  fill: var(--header-bar-color);
}

.header__bar__shadow-gradient {
  pointer-events: none;
  transform: translateY(2.5rem);
}

.header__bar__shadow-gradient--0 {
  height: 2.5rem;
}

.header__bar__shadow-gradient--1 {
  height: 1.25rem;
}

.header__bar__stop-0 {
  stop-color: var(--header-bar-color);
}

.header__bar__stop-1 {
  stop-color: var(--header-bar-color-alpha0);
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: .75rem;
  pointer-events: none;

  > * {
    pointer-events: auto;
  }
}

.header__logo {
  --header-logo-primary-color: currentColor;
  --header-logo-secondary-color: currentColor;
  --header-logo-credential-color: transparent;

  height: 4.5em;
  margin: .25em auto 0;
  padding: 0 1em;
  width: 11.75em;
  order: 2;

  @media print {
    width: 8em;
    height: 2.75em;
  }

  &.header__logo--csm {
    --header-logo-credential-color: var(--header-logo-primary-color);
  }

  [data-pagename="homepage"] & {
    --header-logo-primary-color: light-dark(var(--black), var(--blue-bright));
    --header-logo-secondary-color: light-dark(var(--pink-bright), var(--white));
  }

  [data-pagename="cv"] &,
  [data-pagename="now"] &,
  [data-pagename="uses"] &,
  [data-pagename="portfolio"] & {
    --header-logo-primary-color: light-dark(var(--black), var(--blue-dusty));
    --header-logo-secondary-color: light-dark(var(--pink-bright), var(--pink-mid));
  }

  [data-pagename="404"] & {
    --header-logo-primary-color: var(--black);
    --header-logo-secondary-color: var(--pink-bright);
  }

  [data-pagename="blog"] &,
  [data-pagename="recipes"] & {
    --header-logo-primary-color: light-dark(var(--black), var(--green-bright));
    --header-logo-secondary-color: light-dark(var(--pink-bright), var(--amber));
  }
}

.header__logo-link {
  display: block;
  width: 100%;
  height: 100%;
}

.header__logo-at path {
  fill: var(--header-logo-secondary-color);
}

.header__logo-name path {
  fill: var(--header-logo-primary-color);
}

.header__logo-credential path {
  fill: var(--header-logo-credential-color);
}
