.page-title {
  margin: 3em 0 0;
  text-align: center;
}

.page-title__h1 {
  font-size: clamp(2em, 8vw, 3em);
  margin: 0;
}

.page-title__item {
  margin: 0;
}

.page-title__meta {
  display: flex;
  justify-content: center;
  flex-direction: var(--flex-direction, column);
  align-items: center;
  margin: var(--margin, 1em);
  line-height: 1.5;

  @media (min-width: 30rem) {
    --flex-direction: row;
    --margin: .5em;
    gap: 2ch;
  }

  > * + * {
    &:before {
      @media (min-width: 30rem) {
        content: "\2022";
        display: inline-block;
        margin: 0 2ch 0 0;
      }
    }
  }
}
