[data-theme="article"] {
  --body-color: light-dark(hsl(262, 99%, 10%), hsla(0, 0%, 100%, .8));
  --background-color: light-dark(var(--white), hsla(43, 74%, 49%, .05));

  --font-emphasis-bold: var(--amsi-condensed-bold);
  --font-emphasis-regular: var(--amsi-condensed-regular);

  --p-font-size: 1em;
  --p-line-height: 2;
  --p-color: light-dark(hsl(262, 99%, 10%), hsla(0, 0%, 100%, .8));
  --p-font-family: var(--inra);
  --p-font-weight: 400;
  --p-font-style: normal;

  --a-print-color: inherit;
  --a-hover-color: light-dark(var(--pink-bright), var(--amber));
  --a-default-color: light-dark(var(--pink-dark), var(--white));

  font-size: 1rem;
  color: var(--body-color);

  [data-theme="blog"] & {
    background: var(--background-color);
    border: .0625em solid hsla(0, 0%, 0%, .05);
    border-top-color: hsla(0, 0%, 100%, .25);
    border-bottom-color: hsla(0, 0%, 0%, .07);
    border-radius: .125em;
    padding: 1em;
    margin: 2em 0;
    box-shadow: 0 .125em 1em hsla(0, 0%, 0%, .04);

    display: flex;
    justify-content: center;
  }

  .blog__copy {
    max-width: 80ch;

    > *:first-child {
      margin: 0;
    }

    > * + h2 {
      --h2-margin: 2em 0 0;
    }

    > * + h3 {
      --h3-margin: 1em 0 0;
    }

    * + p {
      --p-margin: 1em 0 0;
    }

    li + li {
      margin: 1em 0 0;
    }

    blockquote {
      border-left: .125em solid hsla(0, 0%, 0%, .05);
      padding: 1em 0 1em 2em;
      margin: 1em 0;
    }
  }
}