[data-theme="blog"] {
  --max-width: 45em;
  --background-color: var(--white);

  --font-emphasis-bold: var(--amsi-condensed-bold);
  --font-emphasis-regular: var(--amsi-condensed-regular);

  --p-font-size: 1em;
  --p-line-height: 2;
  --p-color: hsl(262, 99%, 10%);
  --p-font-family: var(--sometype);
  --p-font-weight: 400;
  --p-font-style: normal;

  --a-print-color: inherit;
  --a-hover-color: var(--pink-bright);
  --a-default-color: var(--pink-dark);

  font-size: 1rem;
}