[data-theme="cv"] {
  --background-color: var(--white);

  --a-print-color: inherit;
  --a-hover-color: var(--pink-bright);
  --a-default-color: var(--pink-dark);

  --menu-link-color: var(--black);
  --menu-shadow-color: var(--white-shadow);
  --menu-background-color: var(--white);
  --menu-border-color-base-hsl-values: 0, 0%, 0%;
}