[data-theme="memo"] {
  --max-width: 70ch;
  --code-padding-x: 1ch;

  --a-hover-color: light-dark(var(--pink-dark), var(--amber));
  --a-default-color: light-dark(var(--blue-ink), var(--green-bright));

  & ~ & > p,
  & > p:not(& > p:first-of-type):not(p:has(img)) {
    --p-text-indent: 4ch;
  }

  > *:first-child {
    margin: 0;
  }

  > * + h2 {
    --h2-margin: 2em 0 0;
  }

  > * + h3 {
    --h3-margin: 1em 0 0;
  }

  * + p {
    --p-margin: 1em 0 0;
  }
}
