[data-theme="now"] {
  --body-color: var(--black);
  --background-color: var(--pantone-mocha-mousse);
  --scrollbar-color: hsl(60, 33%, 93%) hsl(10, 47%, 93%);

  --menu-shadow-color: var(--pantone-black-rooster);
  --menu-background-color: var(--pantone-black-rooster);
  --menu-border-color: var(--pantone-black-rooster);
  --menu-link-color: var(--white);

  --a-print-color: inherit;
  --a-hover-color: var(--white);
  --a-default-color: var(--black);
}
