[data-pagename="portfolio"] {
  background-color: light-dark(hsl(0, 0%, 100%), hsl(215, 33%, 10%));
  color: light-dark(var(--black), var(--blue-dusty));

  // @TODO - replace with CSS layers later
  .header {
    --header-bar-color: light-dark(hsl(0, 0%, 100%), hsl(215, 33%, 10%));
    --header-bar-color-alpha0: light-dark(
        hsla(0, 0%, 100%, 0),
        hsla(215, 33%, 10%, 0)
    );
    --header-logo-primary-color: light-dark(var(--black), var(--blue-dusty));
    --header-logo-secondary-color: light-dark(var(--pink-bright), var(--pink-mid));
  }
}

.portfolio {
  margin: 2rem 0 0;
  font-family: var(--amsi-normal), sans-serif;

  @media (min-width: 50rem) {
    display: flex;
    gap: 2rem;
  }

  p {
    margin: 0;
  }

  p + p, {
    margin: 2em 0 0;
  }

  h2,
  h3 {
    font-family: var(--amsi-narrow-bold), sans-serif;
  }

  dt {
    font-family: var(--amsi-narrow-bold), sans-serif;
    text-transform: uppercase;
  }

  dd {
    margin: 0;
    font-family: var(--monolisa), monospace;
    font-size: .875em;
  }

  dd + dt {
    margin-top: .5rem;
  }
}

.portfolio__content {
  flex-grow: 1;
}

.portfolio__sidebar {
  max-inline-size: 15rem;
  inline-size: 100%;
  order: 1;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem 2rem;
  margin: 3rem 0 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.portfolio-list__item {
  flex: 1 1 calc(33.333% - 2rem);
  box-sizing: border-box;
  min-inline-size: 10rem;
  max-inline-size: calc(33.333% - 2rem);
  inline-size: 100%;

  @media (max-width: 37.5rem) {
    flex: 1 1 100%;
    max-inline-size: 100%;
  }

  @media (max-width: 56.25rem) {
    flex: 1 1 calc(50% - 2rem);
    max-inline-size: calc(50% - 2rem);
  }
}

.portfolio-list__link {
  text-decoration: none;
  display: block;
  color: var(--local-portfolio-list-link-color, light-dark(var(--black), var(--white)));

  &:hover {
    --local-portfolio-list-link-color: light-dark(var(--pink-bright), var(--pink-light));
  }
}

.portfolio-list__image {
  object-fit: cover;
  width: 100%;
}

.portfolio-list__title {
  font-family: var(--amsi-narrow-bold), sans-serif;
  margin: .5rem 0 0;
}

.portfolio-list__publish-date {
  font-family: var(--monolisa), monospace;
  font-size: .875em;
}

.portfolio-list__synopsis {
  margin: .5rem 0 0;
  font-family: var(--amsi-normal), sans-serif;
}

.portfolio-list__promo {
  background: light-dark(var(--white-mid), var(--blue-dark));
  border-radius: .5em;
  border: .0625em solid light-dark(var(--white-shadow), var(--blue-dark));
  color: light-dark(var(--black), var(--white));
  display: flex;
  gap: 2em;
  margin: 5em 0 0;
  padding: 1em;
  text-decoration: none;

  &:hover {
    background: light-dark(var(--white-shadow), var(--blue-mid));
    color: inherit;
  }

  > :first-child {
    width: calc(100% / 3);
  }

  > :last-child {
    flex-grow: 1;
    align-self: center;
  }
}

.portfolio-list__promo-image {
  object-fit: cover;
  width: 100%;
}

.portfolio-list__promo-title {
  font-family: var(--amsi-narrow-bold), sans-serif;
  margin: 0;
}

.portfolio-list__promo-synopsis {
  font-family: var(--amsi-normal), sans-serif;
  font-size: 1em;
}
