<div class="footer">
  <footer class="footer__footer">
    <div class="content">
      <div class="footer__copyright">
        <div>
          <small>
            <span>&copy;2011&ndash;{% year %} CRHain Design LLC.</span>
            All rights reserved. Logos, graphics, and writing of work samples
            copyright of their respective owners. Views expressed on this site are
            those of CRHain Design LLC, and do not necessarily reflect those of the
            client or employer.

            {% if "csm" in footerTypes %}
              "CERTIFIED SCRUM DEVELOPER&reg;" (or "CSD&reg;") is a registered
              mark of Scrum Alliance, Inc. Any unauthorized use is strictly
              prohibited.
            {% endif %}

            {% if "webby" in footerTypes %}
             "THE WEBBY AWARDS" is a trademark of Recognition Media, LLC.
            {% endif %}
          </small>

          <nav>
            <ul class="footer__quick-links">
              {% for menuItem in menu %}
                {% if menuItem.type == 'footer' %}
                  <li>
                    <a
                      href="{{ menuItem.attributes.href }}"
                      title="{{ menuItem.attributes.title }}"
                      target="{{ menuItem.attributes.target }}"
                    >
                      {{ menuItem.attributes.displayValue }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div>

        {% if "written-by-human" in footerTypes %}
          {% include "components/written-by-human.njk" %}
        {% endif %}
      </div>
    </div>

    {% if "social-proof" in footerTypes %}
      {% include "components/social-proof.njk" %}
    {% endif %}
  </footer>
</div>
