<header class="header">
  <i class="header__spacer"></i>
  <img
    class="header__logo"
    src="https://assets.christianhain.com/images/xianhain-logo-{{ logo }}.svg"
    alt="@XianHain | Christian Hain"
    width="256"
    height="64"
  >

  {% include "components/menu.njk" %}

</header>