<header class="header">
  <i class="header__spacer"></i>
  <div class="header__logo">
    <a href="/" title="Homepage">
      <picture>
        {% if logoDark %}
          <source
            media="(prefers-color-scheme: dark)"
            srcset="https://assets.christianhain.com/images/xianhain-logo-{{ logoDark }}.svg"
          />
        {% endif %}

        <img
          alt="@XianHain | Christian Hain"
          src="https://assets.christianhain.com/images/xianhain-logo-{{ logo }}.svg"
          width="256"
          height="64"
        >
      </picture>
    </a>
  </div>

  {% include "./menu.liquid" %}

</header>
