<section class="social-proof">
  <h2
    id="footer-companies"
    class="social-proof__title"
  >
    Companies I've developed with
  </h2>
  <ol
    class="companies-list"
    aria-labelledby="footer-companies"
  >
    <li class="company company--finquery">FinQuery</li>
    <li class="company company--outworlders">OutWorlders</li>
    <li class="company company--amazon">Amazon</li>
    <li class="company company--cnn">CNN</li>
    <li class="company company--delta">Delta</li>
    <li class="company company--smartvent">Smart Vent, Inc.</li>
  </ol>
</section>
