<section class="social-proof">
  <h2
    id="footer-companies"
    class="social-proof__title"
  >
    Companies I've developed with
  </h2>
  <ol
    class="companies-list"
    aria-labelledby="footer-companies"
  >
    <li class="company company--finquery">FinQuery</li>
    <li class="company company--outworlders">OutWorlders</li>
    <li class="company company--amazon">Amazon</li>
    <li class="company company--cnn">CNN</li>
    <li class="company company--delta">Delta</li>
    <li class="company company--smartvent">Smart Vent, Inc.</li>
  </ol>
</section>

<section class="social-proof">
  <h2
    id="footer-awards"
    class="social-proof__title"
  >
    Awards and Certifications
  </h2>
  <ol
    class="awards-list"
    aria-labelledby="footer-awards"
  >
    <li class="award award--webby"><a href="/cv#webby-awards" title="Webby Awards">5-time Webby Award Honoree</a></li>
    <li class="award award--csd"><a href="/cv#scrum-developer" title="Scrum Certification">Certified Scrum Developer</a></li>
  </ol>
</section>
