<a href="https://notbyai.fyi/hi/christianhain/" class="written-by-human" title="Not By AI Verification Page" target="_blank">
  <img
    alt="Written by human, not by ai"
    src="https://assets.christianhain.com/images/written-by-human-not-by-ai-white.svg"
    width="131"
    height="42"
  />
</a>