@use "base/(root)" as *;
@use "base/a";
@use "base/p";
@use "base/hx";
@use "base/img";
@use "base/pre";
@use "base/body";
@use "base/code";
@use "base/figure";
@use "base/blockquote";

@use "themes/blog";
@use "themes/memo";
@use "themes/email";
@use "themes/article";
@use "themes/polaroid";
@use "themes/blockquote" as blockquote-theme;
@use "themes/video-player";

@use "components/written-by-human";
@use "components/portal-window";
@use "components/read-length";
@use "components/page-title";
@use "components/footer";
@use "components/header";
@use "components/menu";

@use "layout/portfolio" as portfolio-layout;

@use "pages/cv";
@use "pages/404" as four-oh-four;
@use "pages/now";
@use "pages/uses";
@use "pages/blog" as blog-page;
@use "pages/recipes";
@use "pages/homepage";
@use "pages/portfolio-entry";
