%blog-nav-link-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 4ch;
}

%blog-nav-link {
  --a-default-color: light-dark(var(--black), var(--white));
  --a-hover-color: light-dark(var(--pink-bright), var(--amber));

  font-family: var(--amsi-narrow-regular), sans-serif;
  text-underline-offset: .5rem;
  text-decoration-color: light-dark(var(--blue-bright), var(--green-bright));
}
