%blog-nav-link-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 4ch;
}

%blog-nav-link {
  --a-color: light-dark(var(--black), var(--white));
  --a-hover-color: light-dark(var(--pink-bright), var(--pink-mid));

  font-family: var(--amsi-narrow-bold), sans-serif;
}
