@use "../utils/wide-frame";

[data-theme="email"] {
  --background-color: light-dark(var(--white-shadow), var(--black));

  @extend %wide-frame;

  display: flex;
  justify-content: center;

  .blog__copy {
    max-width: 80ch;
  }
}
